<template>
    <div class="well">
        <div class="row">
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Earned:</th>
                        <th class="thead-currency green" width="70%">{{ user.money_challenge_earn | currency}}</th>
                    </thead>
                </table>
            </div>
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Redeemed:</th>
                        <th class="thead-currency green" width="70%">{{ user.money_challenge_paid | currency}}</th>
                    </thead>
                </table>
            </div>
        </div>
        <hr>
        <div class="tab-pane active" id="c">
            <div class="table-wrapper">
                <table class="table table-earnings">
                <thead>
                    <tr>
                        <th width="55%">TITLE</th>
                        <th width="15%">DATE</th>
                        <th width="15%">STATUS</th>
                        <th width="15%">AMOUNT</th>
                    </tr>                
                </thead>
                <tbody>
                <!--| filterBy '1' in coreg.campaign.sponsor-->
                    <tr v-for="challenge in user.challenge_taken">
                        <td v-text="challenge.title"></td>
                        <td v-text="challenge.taken"></td>
                        <td>
                            <div class="tooltip-details">
                                <span rel="tooltip" title="<p>Earned</p>" data-html="true">
                                    <img :src="challenge.status | status " alt="" class="img-responsive">
                                </span>
                            </div>
                        </td>
                        <td v-text="challenge.cash | currency"></td>
                    </tr>                
                </tbody>
            </table>
            </div>
        <div class="spacer-mini"></div>
        <div class="row">
            <div class="col-md-12 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/earned.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Earned</strong>
                                <p>You successfully Earned this amount.</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/redeemed.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Redeemed</strong>
                                <p>We have successfully sent you the payment.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-md-6 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/redeemed.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Redeemed</strong>
                                <p>We have successfully sent you the payment.</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        </div>
        <!-- <div class="spacer"></div> -->
        <div class="text-center" v-if="user && user.registered">
        </div>
        <div class="text-center" v-else>
            <button type="button" class="btn btn-primary submit" @click.prevent="redeem">REDEEM</button>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['user'],

        ready () {
            this.$nextTick(function(){
                $('.tooltip-details').tooltip({
                    selector: "span[rel=tooltip]",
                    placement: "bottom",
                    html: true,
                    delay: { "show": 200, "hide": 200 }
                });
            });
        },

        methods : {

            redeem () {
                if (this.user && this.user.registered) {
                    console.log('call ajax to server for redeem');
                    return;
                }
                this.$dispatch('closeModal');
                this.$dispatch('openModal', 'register');
            }

        },
        filters : {
            status (val) {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/submitted.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
                if(val == 3) {
                    return '/images/approved.jpg';
                }
                if(val == 4) {
                    return '/images/earned.jpg';
                }
                if(val == 5) {
                    return '/images/redeemed.jpg';
                }
            },
            description (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Submitted';
                }
                if(val == 2) {
                    return 'Disapproved'
                }
                if(val == 3) {
                    return 'Approved'
                }
                if(val == 4) {
                    return 'Earned'
                }
                if(val == 5) {
                    return 'Redeemed';
                }
            },
            date (val) {
                return  moment(val).format('MM/DD/YYYY');
            }


        },
    }
</script>