<template>
    <div class="well">
    <div class="row">
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Pending:</th>
                        <th class="green" width="70%"><i>{{user.count_freebies_pending }}</i></th>
                    </thead>
                    <thead>
                        <th class="thead-title">Submitted:</th>
                        <th class="thead-currency green">{{ user.count_freebies_submitted + user.money_linkout_freebies_submitted }}</th>
                    </thead>
                </table>
            </div>
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Approved:</th>
                        <th class="thead-currency green" width="70%">{{ user.count_freebies_approved + user.money_linkout_freebies_success }}</th>
                    </thead>
                    <thead>
                        <th class="thead-title hidden">Rejected:</th>
                        <th class="thead-currency red hidden">{{ user.count_freebies_rejected }}</th>
                    </thead>
                </table>
            </div>
        </div>
    <hr>
        <div class="table-wrapper">
            <table class="table table-earnings">        
            <thead>
                <tr>
                    <th width="60%"> TITLE</th>
                    <th width="20%"> DATE</th>
                    <th width="20%"> STATUS</th>
                </tr>
            </thead>
            <tbody v-for="coreg in user.coregs">
                <tr v-if="coreg.campaign.freebie==1 && coreg.pivot.status!=2">
                    <td>{{ coreg.campaign.name }}</td>
                    <td> {{ coreg.created_at | date}} </td>
                    <td>
                        <div class="tooltip-details">
                            <span rel="tooltip" title="<p>{{ coreg.pivot.status | description }}</p>" data-html="true">
                                <img :src="coreg.pivot.status | status " alt="" class="img-responsive">
                            </span>
                        </div>
                    </td>
                    <!-- <td>{{ coreg.campaign.price | currency }} </td> -->
                </tr>
            </tbody>
            <tbody>
                <tr v-for="link in user.freebies_taken">
                    <td>{{ link.title }}</td>
                    <td> {{ link.taken }} </td>
                    <td>
                        <div class="tooltip-details">
                            <span rel="tooltip" title="<p>{{ link.status | description }}</p>" data-html="true">
                                <img :src="link.status | status " alt="" class="img-responsive">
                            </span>
                        </div>
                    </td>
                    <!-- <td>{{ coreg.campaign.price | currency }} </td> -->
                </tr>
            </tbody>
            <!--| filterBy 1 in coreg.campaign.freebie-->
        </table>
        </div>
        <div>
            <br>
            <div v-if="this.user.registered==0" class="alert alert-warning" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <strong>Freebies</strong> in pending state will ONLY be submitted after you sign-up. </div>
        </div>
        <div class="spacer-mini"></div>
        <div class="row">
            <div class="col-md-12 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/clock.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Pending</strong>
                                <p>These offers are not submitted and are pending registration. Click on "Redeem"</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/submitted.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Submitted</strong>
                                <p>These offers have been successfully submitted to that advertisers</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/approved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Approved</strong>
                                <p>Yay! we have been notified that the offer is approved</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/disapproved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Rejected</strong>
                                <p>Oops! Advertiser rejected the submission</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-md-12 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/approved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Approved</strong>
                                <p>Yay! we have been notified that the offer is approved</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/disapproved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Rejected</strong>
                                <p>Oops! Advertiser rejected the submission</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <!-- <div class="spacer"></div> -->
        <div class="text-center" v-if="user && user.registered">
        </div>
        <div class="text-center" v-else>
            <button type="button" class="btn btn-primary submit" @click.prevent="redeem">REDEEM</button>
        </div>
    </div>
</template>


<style>
    .text-green {
        color : green;
    }
</style>

<script>
    export default{
        props: ['user','freebies'],
        data(){
            return{
                total : 0,
            }
        },
        ready(){
//            this.myFreebies();
        },

        methods : {

            myFreebies(){

                let freebies = this.freebies;

                var count = 0;
                for (var i in freebies) {
//                    this.freebiesTotal = parseInt(this.freebiesTotal) + parseInt(freebies[i].cash);
                    count++;
                }

                this.$dispatch('adjustFreebies', count);

            },

            redeem () {
                if (this.user && this.user.registered) {
                    console.log('call ajax to server for redeem');
                    return;
                }
                this.$dispatch('closeModal');
                this.$dispatch('openModal', 'register');
            },
            redeemActive(title) {

                if(title==this.activeList)
                {
                    return 'active';
                }
                return '';
            }

        },
        watch : {

            freebies(){

            }


        },

        filters : {
            status (val) {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/submitted.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
                if(val == 3) {
                    return '/images/approved.jpg';
                }
                if(val == 4) {
                    return '/images/earned.jpg';
                }
            },
            description (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Submitted';
                }
                if(val == 2) {
                    return 'Disapproved'
                }
                if(val == 3) {
                    return 'Approved'
                }
                if(val == 4) {
                    return 'Earned'
                }
            },
            date (val) {
                return  moment(val).format('MM/DD/YYYY');
            }


        },
    }
</script>