<template>
    <div class="well">
        <div class="row">
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Pending:</th>
                        <th class="thead-currency green" width="70%">{{ user.money_offers_pending | currency}}</th>
                    </thead>
                    <thead>
                        <th class="thead-title">Submitted:</th>
                        <th class="thead-currency green">{{ user.money_offers_submitted + user.money_linkout_offers_submitted | currency}}</th>
                    </thead>
                </table>
            </div>
            <div class="col-xs-6">
                <table>
                    <thead>
                        <th class="thead-title" width="30%">Approved:</th>
                        <th class="thead-currency green" width="70%">{{ user.money_offers_approved + user.money_linkout_offers_success | currency}}</th>
                    </thead>
                    <thead>
                        <th class="thead-title hidden">Rejected:</th>
                        <th class="thead-currency red hidden">{{ user.money_offers_rejected | currency}}</th>
                    </thead>
                </table>
            </div>
        </div>
        <hr>
        <div class="table-wrapper">
            <table class="table table-earnings">
            <thead>
                <tr>
                    <th width="40%"> TITLE</th>
                    <th width="15%"> DATE</th>
                    <th width="15%"> STATUS</th>
                    <th width="15%"> UP TO</th>
                    <th width="15%"> AMOUNT</th>
                </tr>                
            </thead>

            <tbody v-for="coreg in user.coregs" >
                <!--| filterBy '1' in coreg.campaign.sponsor-->
                <tr v-if="coreg.campaign.sponsor==1 && coreg.pivot.status!=2">
                    <td>{{ coreg.campaign.name }}</td>
                    <td>{{ coreg.created_at | date }}</td>
                    <td>
                        <div class="tooltip-details">
                            <span rel="tooltip" title="<p>{{ coreg.pivot.status | description }}</p>" data-html="true">
                                <img :src="coreg.pivot.status | status " alt="" class="img-responsive">
                            </span>
                        </div>
                    </td>
                    <td> n/a </td>
                    <td>{{ coreg.campaign.price | currency }}</td>
                </tr>
            </tbody>

            <tbody>
                <tr v-for="link in user.offers_taken">
                    <td>{{ link.title }}</td>
                    <td> {{ link.taken }} </td>
                    <td>
                        <div class="tooltip-details">
                            <span rel="tooltip" title="<p>{{ link.status | description }}</p>" data-html="true">
                                <img :src="link.status | status " alt="" class="img-responsive">
                            </span>
                        </div>
                    </td>
                     <td><span  v-if="link.up_to">{{ link.up_to | currency }}</span> <span v-else>n/a</span></td>
                     <td>{{ link.cash | currency }} </td>
                </tr>
            </tbody>


        </table>
        </div>
        <div>
            <br>
            <div v-if="this.user.registered==0" class="alert alert-warning" role="alert"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> <strong>Offers</strong> in pending state will ONLY be submitted after you sign-up.</div>
        </div>
        <div class="spacer-mini"></div>
        <div class="row">
            <div class="col-md-12 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/clock.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Pending</strong>
                                <p>These offers are not submitted and are pending registration. Click on "Redeem Now"</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/submitted.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Submitted</strong>
                                <p>These offers have been successfully submitted to that advertisers</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/approved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Approved</strong>
                                <p>Yay! we have been notified that the offer is approved</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/disapproved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Rejected</strong>
                                <p>Oops! Advertiser rejected the submission</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- <div class="col-md-6 legends">
                <table>
                    <tbody>
                        <tr>
                            <td><img src="/images/approved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Approved</strong>
                                <p>Yay! we have been notified that the offer is approved</p>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/images/disapproved.jpg" alt=""></td>
                            <td class="legends-desc">
                                <strong>Rejected</strong>
                                <p>Oops! Advertiser rejected the submission</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> -->
        </div>
        <!-- <div class="spacer"></div> -->
        <div class="text-center" v-if="user && user.registered">
        </div>
        <div class="text-center" v-else>
            <button type="button" class="btn btn-primary submit" @click.prevent="redeem">REDEEM</button>
        </div>
    </div>
</template>

<script>
    export default{
        props: ['user'],

        methods : {

            redeem () {
                if (this.user && this.user.registered) {
                    console.log('call ajax to server for redeem');
                    return;
                }
                this.$dispatch('closeModal');
                this.$dispatch('openModal', 'register');
            }

        },
        filters : {
            status (val) {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/submitted.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
                if(val == 3) {
                    return '/images/approved.jpg';
                }
                if(val == 4) {
                    return '/images/earned.jpg';
                }
            },
            description (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Submitted';
                }
                if(val == 2) {
                    return 'Disapproved'
                }
                if(val == 3) {
                    return 'Approved'
                }
                if(val == 4) {
                    return 'Earned'
                }
            },
            date (val) {
                return  moment(val).format('MM/DD/YYYY');
            }


        },

        watch : {

        }
    }
</script>