<style>
    .has-error {
        border : 1px solid red;
    }

    .label-green {
        background-color: green;
    }

    .active-ball {
        background-color: green !important;
    }


    .qs {
        border-radius: 16px;
        cursor: pointer;
        display: inline-block;
        /*font-family: 'Helvetica',sans-serif;*/
        /*font-size: 18px;*/
        /*font-weight: bold;*/
        height: 30px;
        /*line-height: 30px;*/
        position: relative;
        text-align: center;
        width: 30px;
    }
</style>

<template>
    <aside>
        <div v-if="user" class="challenge animated" v-show="user && user.can_challenge==1 || user.challenge_designation>1" transition="fade">
            <div class="panel panel-default">
                <div class="panel-heading text-center">30 Day Challenge
                </div>
                <div class="panel-body">
                    <div class="day-container">
                        <div class="qs"
                            v-for="take in taken"
                            @click="requestSurvey(take.day)"
                            :class="take.class"
                            >

                            <div class="la-ball-fall la-white la-sm small-ball" v-show="loading && take.class=='ongoing active active-ball'" style="position: absolute">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                            $1
                            <span v-if="validForSurvey && take.class=='ongoing active active-ball'" class="popout above" style="text-transform: capitalize;">
                                Click here to start your challenge!!
                            </span>

                            <span v-if="!validForSurvey" class="popout above" style="text-transform: capitalize;">
                                Comeback tommorow for more challenge
                            </span>

                        </div>
                    </div>
                </div>

                <div class="hidden-md hidden-lg" v-show="user.current_page_level!=8" style="margin-top: 4%;">
                    <div v-if="validForSurvey" class="alert alert-success alert-dismissible" role="success">
                        <strong style="text-transform: capitalize;">Your challenge for today is active!</strong><p style="font-weight: 100; text-transform: capitalize;">Click the active ball above and take your challenge now!</p>
                    </div>

                    <div v-else class="alert alert-info alert-dismissible" role="info">
                        <strong style="text-transform: capitalize;">Your challenge for today is done!</strong><p style="font-weight:100; text-transform: capitalize;">Please comeback tomorrow for more challenge.</p>
                    </div>
                </div>

                <div class="calendar-legend">
                    <legend>Color legend:</legend>
                    <span class="label label-green">Active</span>
                    <span class="label label-grey">Completed</span>
                    <span class="label label-blue">Missed</span>
                    <span class="label label-orange">Ongoing</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 hidden-sm hidden-lg">
                <!-- <img src="/images/promise.png" class="mobile-promise" alt="logo"> --> <!-- show only on mobile -->
                <img src="/images/promise.png" class="mobile-promise img-responsive" alt="logo"> <!-- show only on mobile -->
            </div>
            <div class="col-xs-12 col-md-12 hidden-xs hidden-md">
                <img src="/images/promise.png" class="large-promise img-responsive" alt="logo"> <!-- show only on large screen -->
            </div>
            <div class="col-xs-12 col-md-12">
                <!-- Description -->
                <div class="illustration" style="height: 100%;">
                    <p>
                        Go through the 30 Day Challenge. See how simple it is to make $30 by giving your opinion. If you are unsatisfied with the results after 30 days, send us an email. Explain why our simple process failed to meet your expectations.
                    </p>
                </div>
            </div>

            <div class="col-xs-12 col-md-12">
                <!-- Description -->
                <div class="illustration" style="height: 100%;">
                    <hr>
                    <form id="opinion-form">
                        <div class="form-group">
                            <label for="">Report any technical errors you see.</label>
                        </div>
                        <div class="form-group">
                            <input v-if="user && user.registered" name="sender" type="hidden" :value="user.email">
                            <input v-else name="sender" type="hidden" value="Anonymous">
                            <textarea v-model="opinion" id="opinion" class="form-control" name="opinion" cols="30" rows="10" placeholder="Share us your opinion.." style="resize: vertical"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" @click="submitOpinion" class="btn btn-primary" :disable="opinion">Submit opinion <span v-if="sending" class="fa fa-spinner fa-spin"></span></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--<div id="fb-root"></div>-->

        <!--<div class="bonus" v-show="user && user.can_challenge">-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading text-center">Bonus task</div>-->
                <!--<div class="panel-body">-->
                    <!--<div class="social-container" v-show="showSocial">-->
                        <!--<div class="">-->

                            <!--<div class="row">-->

                                <!--<div class="col-md-12 form-group" id="social-facebook">-->
                                    <!--&lt;!&ndash;<div class="fb-like"&ndash;&gt;-->
                                         <!--&lt;!&ndash;data-href="https://www.facebook.com/HighPaying-Cash-Surveys-207400013077011/"&ndash;&gt;-->
                                         <!--&lt;!&ndash;data-layout="standard"&ndash;&gt;-->
                                         <!--&lt;!&ndash;data-action="like"&ndash;&gt;-->
                                         <!--&lt;!&ndash;data-show-faces="false"&ndash;&gt;-->
                                         <!--&lt;!&ndash;data-share="false"&ndash;&gt;-->
                                         <!--&lt;!&ndash;data-kid-directed-site="true"&ndash;&gt;-->
                                    <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->

                                    <!--<div class="fb-like"-->
                                         <!--data-href="https://www.facebook.com/HighPaying-Cash-Surveys-207400013077011/"-->
                                         <!--data-layout="standard"-->
                                         <!--data-action="like"-->
                                         <!--data-show-faces="false"-->
                                         <!--data-share="true">-->

                                    <!--</div>-->

                                <!--</div>-->

                                <!--<div class="col-md-12 form-group">-->
                                    <!--<a class="twitter-follow-button"-->
                                       <!--href="https://twitter.com/TwitterDev">-->
                                        <!--&lt;!&ndash;Follow @TwitterDev&ndash;&gt;-->
                                    <!--</a>-->
                                <!--</div>-->

                                <!--<div class="col-md-12 form-group">-->
                                    <!--<div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-theme="dark" data-count="default" data-onytevent="onYtEvent"></div>-->
                                <!--</div>-->

                                <!--<div class="col-md-12 form-group">-->
                                    <!--<a data-pin-do="buttonFollow" href="https://www.pinterest.com/tonzfale/">Follow&nbsp;us&nbsp;on&nbsp;HPCS</a>-->
                                <!--</div>-->

                                <!--<div class="col-md-12 form-group">-->
                                    <!--<a href="http://www.flickr.com/photos/149125596@N06/" title="See my photos on Flickr!" target="_blank"><img src="https://s.yimg.com/pw/images/goodies/white-im-on-flickr.png" width="102" height="26" alt=""></a>-->
                                <!--</div>-->

                                <!--<div class="col-md-12 form-group">-->
                                    <!--<div class="g-follow" data-href="https://plus.google.com/u/1/110296232408530912236" data-annotation="bubble" data-height="20" data-rel="author"></div>-->
                                <!--</div>-->
                            <!--</div>-->




                            <!--&lt;!&ndash;<a href="javascript:;" title="twitter"><img src="/images/icons/twitter.png" alt="twitter"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="youtube"><img src="/images/icons/youtube.png" alt="youtube"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="facebook"><img src="/images/icons/facebook.png" alt="facebook"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="linkedin"><img src="/images/icons/linkedin.png" alt="linkedin"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="pinterest"><img src="/images/icons/pinterest.png" alt="pinterest"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="flickr"><img src="/images/icons/flickr.png" alt="flickr"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="share"><img src="/images/icons/share.png" alt="share"></a>&ndash;&gt;-->
                            <!--&lt;!&ndash;<a href="javascript:;" title="rss"><img src="/images/icons/rss.png" alt="rss"></a>&ndash;&gt;-->
                            <!--<p>like us on facebook and get $1!</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->


    </aside>
</template>
<script type="text/babel">
    import Tooltip from './Header/TooltipChallenge.vue';

    export default{
        props: ['user'],
        components: {Tooltip},
        data () {
            return {
                active: 0,
                loading:false,
                opinion : null,
                sending : false,
                showSocial : false,
                taken : [],

            }
        },

        ready()
        {

//           this.socialPlugins();

        },

        computed:
        {
            validForSurvey() {
                if(!this.user) return false;
                return this.user && !this.user.last_challenge && this.user.challenge_designation < 31 || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;
            },

            currentUrl(){
                return window.location.href;
            }

        },
        methods: {
            socialPlugins(){
                let self = this;

//                FACEBOOK

                window.fbAsyncInit = function() {
                    FB.Event.subscribe('edge.create', function (response) {
                        self.$dispatch('facebookListener',response);
                    });
                };
                window.fbbtn = (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));



//                TWITTER
                window.twttr = (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0],
                            t = window.twttr || {};
                    if (d.getElementById(id)) return t;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "https://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                    t._e = [];
                    t.ready = function(f) {
                        t._e.push(f);
                    };

                    return t;
                }(document, "script", "twitter-wjs"));

//                YOUTUBE
               function onYtEvent(payload) {
                    if (payload.eventType == 'subscribe') {
                        // Add code to handle subscribe event.
                    } else if (payload.eventType == 'unsubscribe') {
                        // Add code to handle unsubscribe event.
                    }
                    if (window.console) { // for debugging only
                        window.console.log('YT event: ', payload);
                    }
                }

                this.$nextTick(function () {
                    self.showSocial = true;
                })

            },


            checkExist(n,taken,designation,validity,canChallenge){
                var array = taken;

                if(taken==null)
                {
                    if(n==1)
                    {
                        return 'active ongoing active-ball';
                    }
                    return 'ongoing';
                }
                else
                {
                    for (var i in array) {
                        if (n == array[i]['id']) {
                            return 'done';
                        }
                    }
                     if(n == designation && validity && n > 1)
                       {
                           return 'ongoing active active-ball';
                       }
                        else if(n >= designation)
                       {
                           return 'ongoing';
                       }
                        else {
                           return 'skip';
                       }
                }
            },

            requestSurvey(day) {

                if (this.user.current_page_level==8 || this.loading) {
                    return;
                }

                if(day==this.user.challenge_designation && this.validForSurvey)
                {
                    this.loading=true;
                    this.active = day;
                    this.$dispatch('requestSurvey');
                }
            },

            submitOpinion(e)
            {

                var $this = $(e.target);
                var self = this;
                self.sending = true;

                if(this.opinion=="" || this.opinion==null)
                {
                    $('#opinion').addClass('has-error');
                    self.sending = false;
                    return false;
                }

                $this.addClass('disabled');

                $.post('/opinion',$('#opinion-form').serialize(),function (response)
                {
                    let responseString = 'If you call and report the problem, you will get <strong>$5</strong>. <strong>Please call 1-800-394-7713 Monday - Friday, 8am - 5pm PST</strong>. You will not receive a sales pitch. We want to keep the experience good for you. This feedback will help us improve, You may also qualify to receive <strong>$25</strong>. Call to find out how.';

                    // Handle phone number when in mobile
                    if(response.code==200)
                    {   
                        if ($(window).width() <= 768) {
                            swal({
                                type: "success",
                                title: "Your opinion was sent!",
                                html: true,
                                text: responseString,
                                showCancelButton: true,
                                confirmButtonText: 'Call now!',
                                cancelButtonText: "Close",
                                closeOnCancel: true,
                                closeOnConfirm: false
                            },
                            function(isConfirm) {
                                if (isConfirm) {
                                    document.location.href = "tel:18003947713";
                                }
                            });
                        }else{
                            swal({
                                html: true,
                                title: "Your opinion was sent!",
                                type: "success",
                                text: responseString
                            });
                        }
                    }
                    self.$nextTick(function () {
                        $this.removeClass('disabled');
                        self.sending = false;
                        self.clean();
                    });
                });
            },

            clean(){
                document.getElementById("opinion-form").reset();
//                this.$resetValidation();
                this.loading = false;
            },

            checkExistStatus(day)
            {
                let myTake = this.user.challenge_taken;
                if(!myTake)
                {
                    return 'skip';
                }
                for(let i in myTake)
                {
                    if(myTake[i]['id']==day)
                    {
                        return 'done';
                    }
                }
                return 'skip';
            }
        },

        filters : {

            ifInArray: function (value) {
                return this.user.challenge_taken.indexOf(value) > -1;
            }

        },
        events: {
            'loadingOff' : function () {
                this.loading = false;
            }
        },

        watch : {
            opinion(){
                $('#opinion').removeClass('has-error');
                if(this.opinion=="")
                {
                    this.opinion = null;
                }
            },

            user()
            {
                this.taken = [];

                if(!this.user)
                {
                    return false;
                }

                let ady_taken = this.user.challenge_taken;

                 for (var day = 1; day < 31; day++) {
                     {
                         if(day>this.user.challenge_designation)
                         {
                             this.taken.push({day:day,class:'ongoing'});
                         }
                         else if(day == this.user.challenge_designation)
                         {
                             if(this.validForSurvey)
                             {
                                 this.taken.push({day:day,class:'ongoing active active-ball'});
                             }
                             else
                             {
                                 this.taken.push({day:day,class:'ongoing'});
                             }
                         }
                         else
                         {
                             this.taken.push({day:day,class:this.checkExistStatus(day)});
                         }
                     }
                }
            }
        }
    }
</script>

<style>
    .challenge .ongoing:nth-last-child(-n+2), .bonus .ongoing:nth-last-child(-n+2) {
                margin-left: 0px;
    }

    .label-grey {
        background: #BABCBE;
    }

    .label-blue {
        background: #0094ba;
    }

    .label-orange {
        background: #FF9933;
    }  

    span.label {
        opacity: inherit;
    }

    .calendar-legend {
        margin-top: 15px;
    }

    legend {
        font-size: 14px;
    }
</style>
