<template>
    <footer class="footer-xs hidden-lg hidden-md"> <!-- show when mobile -->
        <ul class="text-center">
            <li><a href="javascript:;" @click.prevent="displayContact">Contact Us</a></li>
            <li>
                <a data-toggle="modal" data-target="#terms-modal">Terms of Use</a>
            </li> 
            <li>
                <a data-toggle="modal" data-target="#policy-modal">Privacy Policy</a>
            </li> 
            <li><a href="javascript:;" @click.prevent="displayFeedback">Feedback</a></li> 
            <li>
                <a data-toggle="modal" data-target="#faq-modal">FAQ</a>
            </li>
        </ul>
    </footer>
</template>
<script type="babel">
    export default{
        methods: {
            displayContact() {
                this.$dispatch('openModal','contact');
            },
            displayFeedback() {
                this.$dispatch('openModal','feedback');
            }
        }
    }
</script>