<template>
    <div class="animated" v-if="user && show" transition="fade">
        <p class="gray-dark-font heading">Search for more local surveys to earn more money</p>
        <div class="row">
            <div class="col-md-6">
                <div class="right-inner">
                    <select name="service" v-model="type" class="form-control" required="required">
                        <option value="all">ALL</option>
                        <option value="cash">CASH</option>
                        <option value="points">POINTS</option>
                        <option value="coupons">COUPONS</option>
                        <option value="sweepstakes">SWEEPSTAKES</option>
                        <option value="freebies">FREEBIES</option>
                    </select>
                </div>
            </div>

            <!--<div class="col-md-3">-->
              <!--<div class="right-inner">-->
                  <!--<select class="form-control" v-model="offerOrder" @change="sorter">-->
                      <!--<option value="all">SORT BY (ALL)</option>-->
                      <!--<option value="eiq">BY EIQ BONUS</option>-->
                      <!--<option value="reg">BY REGULAR OFFERS</option>-->
                  <!--</select>-->
              <!--</div>-->

            <!--</div>-->

            <div class="col-md-6" :class="{'has-error': !zipFlag, 'has-success': zipFlag}">
                <div class="search-group">
                    <input type="search"
                           class="form-control col-xs-9"
                           v-model="zip"
                           placeholder="Zipcode"
                           @keyUp="checkZip | debounce 250"
                           :disabled="zipLoad"
                    />
                    <button  class="searchzip-btn col-xs-3" @click="searchZip" :disabled="loading || ! zipFlag || zipLoad || !zip">
                        <i class="fa fa-search "
                           aria-hidden="true"
                           v-show="! loading"
                        ></i>
                        <div class="la-ball-fall la-white la-sm small-ball" v-show="loading">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </button>
                </div>
                <span v-show="zipLoad" class="checking">Validating zip...</span>
                <span v-show="!zipFlag && !zipLoad" class="check-error">Invalid zip code</span>
            </div>

        </div>
        <div class="spacer-mini"></div>
       <!-- <div class="progress progress-tracker">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
        </div>
        <h4 class="text-center">PROGRESS TRACKER</h4>-->

        <div class="spacer-mini"></div>
        <!--:current="pagination.current"-->
        <Offer v-for="(index, offer) in offers" :offer="offer" :user="user" :index="index" :options="options" :taken="userOffersTaken"></Offer>
        <div class="text-center">
            <!--<hr>-->
            <!--<button class="btn btn-primary" v-show="showNext" @click="loadMore"><i class="fa fa-plus-square-o"></i> Load More</button>-->
            <!--<button v-else @click="goTop" class="btn btn-primary" title="Go back to top"><i class="fa fa-chevron-circle-up"></i> Back to top</button>-->
            <button v-else @click="goTop" class="btn btn-primary" title="Go back to top"><i class="fa fa-chevron-circle-up"></i> Back to top</button>
        </div>
    </div>
</template>
<script type="text/babel">
    import Offer from './LocalSurveys/Offer.vue';
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        components: {Offer},
        props: ['user','prepop','options'],
        data () {
            return {
                categories: null,
                offers :null,
                sortedOffer: null,
                preserveSortedOffer : null,
                offerAll: null,
                offerOrder : 'all',
                show: false,
                type: 'all',
                loading:false,
                showNext: true,
                pagination: {
                    current: 7,
                    add : 5,
                },
                zipFlag:true,
                zipLoad:false,
                zip: '',
                windowName: 'localsurveys',
                loaded : false,

                offersAll : [],
                offersCash : [],
                offersPoints : [],
                offersCoupons : [],
                offersSweepstakes : [],
                offersFreebies : [],

                userOffersTaken : []

            }
        },
        beforeCompile() {

        },
        ready() {
            this.zip = this.user ? this.user.zip : '';
//            this.initialize();
        },
        methods: {
            createLink(offer) {
                return 'http://engageiq.nlrtrk.com/?a=7746&c=' + offer.id + '&s4=' + this.user.id;
            },

            initialize()
            {

                $.get('/survey-offers', this.prepop, offers => {
                    this.offersAll = offers;
                    this.offers = offers;

                    for (var i in offers)
                    {
                        if(offers[i]['has_cash']==1)
                        {
                            this.offersCash.push(offers[i]);
                        }

                        if(offers[i]['has_points']==1)
                        {
                            this.offersPoints.push(offers[i]);
                        }

                        if(offers[i]['has_coupons']==1)
                        {
                            this.offersCoupons.push(offers[i]);
                        }

                        if(offers[i]['has_sweeptakes']==1)
                        {
                            this.offersSweepstakes.push(offers[i]);
                        }

                        if(offers[i]['has_freebie']==1)
                        {
                            this.offersFreebies.push(offers[i]);
                        }
                    }
                });
            },

            checkStatus(id)
            {
                let taken = this.userOffersTaken;
                for (let i in taken)
                {
                    if(taken[i]['id']==id)
                    {
                        return taken[i]['status'];
                    }
                }

            },
            getUserOffers()
            {

                let hpcs = this.user.hpcs_taken;
                for(let i in hpcs)
                {
                    if(hpcs[i]['is_Offer']==1)
                    {
                        this.userOffersTaken.push({
                            id:hpcs[i]['offer_id'],
                            status:hpcs[i]['status'],
                            group:hpcs[i]['group']
                        });
                    }
                }

                let offers = this.user.offers_taken;
                for(let i in offers)
                {
                    if(offers[i]['is_Offer']==1)
                    {
                        this.userOffersTaken.push({
                            id:offers[i]['offer_id'],
                            status:offers[i]['status'],
                            group:offers[i]['group']
                        });
                    }
                }

                let freebies = this.user.freebies_taken;
                for(let i in freebies)
                {
                    if(freebies[i]['is_Offer']==1)
                    {
                        this.userOffersTaken.push({
                            id:freebies[i]['offer_id'],
                            status:freebies[i]['status'],
                            group:freebies[i]['group']
                        });
                    }
                }
            },


            inActiveRemover(array)
            {
                var tempo = [];
                var array = array;

                //will remove inactive offers
                for (var i in array) {
                    if (array[i]['is_active'] == 1) {
                        tempo.push(array[i]);
                    }
                }
                return tempo;
            },

            searchZip() {
                this.loading=true;
                var tempoType = this.type;
                this.type = null;
                this.offers = [];

                var self = this;

                setTimeout(function() {
                    self.type = tempoType;
                    self.loading = false;
                },1000);
         },

            orderFormatter(array,condition)
            {
                var tempo = [];
                var array = array;

                for (var i in array) {
                    if (array[i]['is_active'] == condition) {
                        tempo.push(array[i]);
                    }
                }
                return tempo;
            },

         sorter() {
             var condition = this.offerOrder;
             var tempo,array;

             if(condition=='all')
             {
                 this.sortedOffer = this.preserveSortedOffer;
             }
             else if(condition=='eiq')
             {
                 tempo = [];
                 array = this.preserveSortedOffer;

                 for (var i in array) {
                     if (array[i]['is_hpcs'] == 1) {
                         tempo.push(array[i]);
                     }
                 }
                 this.sortedOffer = tempo;
             }
             else if(condition=='reg')
             {
                 tempo = [];
                 array = this.preserveSortedOffer;

                 for (var i in array) {
                     if (array[i]['is_hpcs'] == 0) {
                         tempo.push(array[i]);
                     }
                 }
                 this.sortedOffer = tempo;
             }
         },

         loadMore() {
            let count = this.sortedOffer.length;
            if(count > (this.pagination.current)) {
                this.pagination.current += this.pagination.add;
            }

             if(count <= (this.pagination.current))
             {
                 this.showNext = false;
             }
         },
            goTop() {
                $("html, body").animate({ scrollTop: 150 }, 600);
            },
            checkZip()
            {
                this.zipLoad = true;

                if(this.zip.length !=5) {
                    this.zipFlag = false;
                    this.zipLoad = false;
                    return;
                }

            $.post('/api/checker/zip',{'zip' : this.zip})
                    .done((data) => { this.zipLoad = false; })
            .success( (data) => {
                if(data.found){
                this.zipFlag = true;
                return;
            }
                this.zipFlag = false;
            })
            .error((error) => {this.zipFlag = false;});
            }

        },

        watch : {
            type : function(){

               if(this.type=='cash')
               {
                    this.offers = this.offersCash;
               }
               else if(this.type=='points')
               {
                   this.offers = this.offersPoints;
               }
               else if(this.type=='coupons')
               {
                   this.offers = this.offersCoupons;
               }
               else if(this.type=='sweepstakes')
               {
                   this.offers = this.offersSweepstakes;
               }
               else if(this.type=='freebies')
               {
                   this.offers = this.offersFreebies;
               }
               else if(this.type=='all')
               {
                   this.offers = this.offersAll;
               }

            },

            user()
            {
                this.getUserOffers();
                if(this.user && !this.loaded && this.user.current_page_level > 6)
                {
                    this.loaded = true;
                    this.initialize();
                }
            },
        },

        events : {
            'display-local' () {
                this.show = true;
            }
        }

    }
</script>
