<style>

    .fade.in  {
        background: rgba(17,17,17,.86);
    }

    .modal-header {
        background: #00CCFF !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .modal-body, .modal-footer {
        padding: 2em;
    }

    input {
        padding: 0 15px !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        height: 42px !important;
    }

    .btn-block {
        height: auto !important;
        padding: 7px 20px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        line-height: 24px;
    }

    a {
        font-size: .9em;
        color: #919499;
        text-transform: uppercase;
        cursor: pointer;
    }

    a:hover {
        text-decoration: none;
        color: #00CCFF;
    }
</style>

<template>
    <div class="modal-dialog login-modal animated" :class="{'shake':shake}" style="width: 350px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><img src="/images/logo.png" alt="hpcs-logo" class="img-responsive"></h4>
            </div>
            <div class="modal-body">
                <div v-if="!reset">
                    <validator name="login">
                        <p class="error-login animated" transition="wobble" v-if="$login.email.dirty && $login.password.dirty && ! $login.valid ">Email and password is required.</p>
                        <p class="error-login animated" transition="wobble" v-if="notFound">Invalid credentials.</p>
                        <p class="error-login animated" transition="wobble" v-if="serverError">Server error.</p>
                        <form action="/login" method="POST" id="form-login" novalidate autocomplete="off">
                            <div class="form-group" style="margin-top: 0;" 
                                 :class="{
                                    'has-error': $login.email.dirty && $login.email.invalid
                                }"
                            >
                                <input type="email"
                                       class="form-control"
                                       name="email"
                                       placeholder="Email"
                                       v-validate:email="{required:true,email:true}"
                                >
                            </div>
                            <div class="form-group" style="margin-top: 0;" 
                                 :class="{
                                    'has-error': $login.password.dirty && $login.password.invalid
                                }"
                            >
                                <input type="password"
                                       class="form-control"
                                       name="password"
                                       v-model="password"
                                       placeholder="Password"
                                       v-validate:password="{required:true}"
                                >
                            </div>

                            <button class="btn btn-primary btn-block"
                                    class="btn btn-primary submit"
                                    :class="{'submitting' : loading}"
                                    @click.prevent="login"
                                    :disabled="loading || ! $login.valid"
                            >
                                <span v-show="! loading">Log In</span>
                                <div class="la-ball-fall-2" v-show="loading">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </button>
                </form>
                </validator>
            </div>

            <!-- <div v-if="!reset">
                <br>
                <button class="btn btn-warning btn-xs form-control" @click="resetPassword">Forgot Password</button>
            </div> -->


            <div v-else>
                <validator name="reset">
                <div class="form-group" :class="{ 'has-error' : $reset.email.invalid && $reset.email.dirty }">
                    <form id="resetPasswordForm">
                        <input type="email" class="form-control" name="email" placeholder="your@email.com" v-validate:email="{email:true}">
                    </form>
                </div>
                </validator>
                <div class="form-group" style="margin-top: 0;">
                    <button type="button" @click="submitResetPassword($event)" class="btn btn-warning btn-xs form-control btn-block">Reset Password</button>
                </div>

                <!-- <div class="form-group">
                    <button type="button" @click="backToLogin" class="btn btn-primary btn-xs form-control">Back to Login</button>
                </div> -->


            </div>

            </div>
            <div class="modal-footer">
                <a href="#" class="pull-left">Remember me</a>
                <a v-if="!reset" @click="resetPassword" class="pull-right">Forgot Password?</a>
                <a v-if="reset" @click="backToLogin" class="pull-right">Back to login</a>
            </div>
        </div>
    </div>

</template>
<script type="text/javascript">
    export default{
        data(){
            return{
                loading: false,
                notFound:false,
                serverError:false,
                password:'',
                shake: false,
                reset : false
            }
        },
        methods: {
            login () {
                let $form = $('#form-login');
                this.loading=true;


                $.post($form.attr('action'),$form.serialize())
                        .success(() =>
                                {
                                    window.location.reload();
                                })
                        .fail((err) =>
                                {
                                    this.shake = true;
                                    setTimeout(() => { this.shake = false; }, 2000);

                                    this.password = '';
                                    this.$resetValidation(()=>{});
                                   if(err.status==404)
                                    {
                                        this.notFound=true;
                                        setTimeout(() => { this.notFound=false }, 5000);
                                        this.loading=false;
                                        this.serverError = false;
                                        return;
                                    }
                                    this.notFound=false;
                                    this.serverError = true;
                                    setTimeout(() => { this.serverError=false }, 5000);
                                    this.loading=false;
                                });
            },

            resetPassword() {
                this.reset = true;
            },

            backToLogin(){
                this.reset = false;
            },

            submitResetPassword(e) {

                var $this = $(e.target);

                if($this.val()==undefined)
                {
                    notify("Please enter an email", "", "error", 'overlay');
                    return;
                }

                if(this.$reset.invalid)
                {
                    notify("Invalid Email Entered", "", "error", 'overlay');
                    return;
                }


                var data = $('#resetPasswordForm').serializeArray();

                $this.text('Sending Request');
                $this.attr('disabled',true);



                $.ajax({
                    url:'/reset/password',
                    method:'GET',
                    data: data
                }).success(function(response) {

                    if(response.code==404)
                    {
                        notify("Email entered does not exist in our records", "", "error", 'overlay');
                    }
                    else
                    {
                        notify("Please check your email for the reset link!", "", "success");
                    }

                    $this.text('Reset Password');
                    $this.attr('disabled',false);
                }).fail(function(e) {
                    if(e.status==422)
                    {
                        notify('Email is Invalid', "", "error", 'overlay');
                    }
                    else
                    {
                        notify(e.statusText || ($.parseJSON(e.responseText)).message, "", "error", 'overlay');
                    }

                    $this.text('Reset Password');
                    $this.attr('disabled',false);
                });

            }
        }
    }
</script>