<template>
    <section v-show="user && !user.registered && show"
             class="animated"
             transition="fade"
    >
    <div class="well" style="position: relative;">


    <validator name="register">

       <form class="form-horizontal" role="form" action="/register" method="POST" novalidate autocomplete="off" id="register-form">

           <div class="well-action text-right">
               <a @click="closeRegister"><i class="fa fa-times-circle-o fa-2x closer" aria-hidden="true"></i></a>
           </div>

           <div class="spacer-mini"></div>
           <div class="form-group text-center">
               <button type="button" :class="{'selected': this.choice }" @click="choice = 1" class="btn btn-default">Paypal</button>
               <button type="button" :class="{'selected': !this.choice }" @click="choice = 0" class="btn btn-default">Check</button>
           </div>


           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.email.dirty && !emailFlag  || (prepop.email && !emailFlag),
                            'has-success': emailFlag
                          }"
           >
               <label class="col-sm-3" for="email">Email:</label>
               <div class="col-sm-9 col-md-7"
               >
                   <input type="email"
                          class="form-control"
                          name="email"
                          v-model="email"
                          @keyUp="checkEmail | debounce 300"
                          v-validate:email="{required:true,email:true}"
                          :disabled="emailLoad"
                          placeholder="Enter email"
                          :value="prepop.email"

                   >
                   <span v-show="emailLoad" class="checking">Validating email...</span>
                   <span v-show="!emailLoad && $register.email.dirty && !$register.email.email && emailShow || (prepop.email && !emailFlag && !emailLoad)" class="check-error">Email already used</span>
               </div>
           </div>

           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.first_name.dirty && $register.first_name.required,
                            'has-success': $register.first_name.valid
                          }"
           >
               <input type="hidden" name="paypal" v-model="choice">
               <label class="col-sm-3" for="first_name">First Name:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="first_name"
                          class="form-control"
                          name="first_name"
                          v-validate:first_name="{required:true}"
                          placeholder="Enter first name"
                          :value="prepop.first_name"
                   >
               </div>
           </div>
           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.last_name.dirty && $register.last_name.required,
                            'has-success': $register.last_name.valid
                          }">
               <label class="col-sm-3" for="last_name">Last Name:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="text"
                          class="form-control"
                          name="last_name"
                          v-validate:last_name="{required:true}"
                          placeholder="Enter last name"
                          :value="prepop.last_name"
                   >
               </div>
           </div>
           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.password.dirty && $register.password.minlength,
                            'has-success': $register.password.valid
                          }"
           >
               <label class="col-sm-3" for="password">Password:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="password"
                          class="form-control"
                          name="password"
                          v-model="password"
                          v-validate:password="{required:true,minlength:8}"
                          placeholder="Enter password"
                   >
                   <span v-if="$register.password.dirty && $register.password.minlength" class="check-error">Passwords must be atleast 8 characters</span>
               </div>
           </div>
           <div class="spacer-mini"></div>


           <div class="form-group"
                :class="{
                            'has-error': $register.password_confirmation.dirty && $register.password_confirmation.match,
                            'has-success': $register.password_confirmation.valid
                          }"
           >
               <label class="col-sm-3" for="password_confirmation">Confirm Password:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="password"
                          class="form-control"
                          v-validate:password_confirmation="{match:password}"
                          name="password_confirmation"
                          placeholder="Confirm Password"
                   >
                   <span v-if="$register.password_confirmation.dirty && $register.password_confirmation.match" class="check-error">Passwords don't match</span>
               </div>
           </div>

           <div class="form-group"
                :class="{
                            'has-error': $register.mail_address.dirty && $register.mail_address.invalid,
                            'has-success': $register.mail_address.valid
                          }"
            >
               <label class="col-sm-3" for="mail_address">Mail Address:</label>
               <div class="col-sm-9 col-md-7">
                   <textarea
                           rows="3"
                           class="form-control"
                           name="mail_address"
                           placeholder="Enter your address"
                           v-text="prepop.mail_address"
                           style="resize: vertical"
                           v-validate:mail_address="{required:true}"
                   >
                   </textarea>
                   <p>
                       <i style="
                        font-size: 10px;
                        color: green;">This will serve as your address when we send your payment via cheque/check</i>
                   </p>
               </div>
           </div>

           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.zip.dirty && !zipFlag,
                            'has-success': zipFlag
                          }"
           >
               <label class="col-sm-3" for="zip">Zip:</label>
               <div class="col-sm-9 col-md-5">
                   <input type="text"
                          class="form-control"
                          name="zip"
                          v-model="zip"
                          v-validate:zip="{required:true}"
                          @keyUp="checkZip | debounce 150"
                          :disabled="zipLoad"
                          placeholder="Enter zipcode",
                          :value="prepop.zip"
                   >
                   <span v-show="zipLoad" class="checking">Validating zip...</span>
                   <span v-show="$register.zip.dirty && !zipFlag && !zipLoad" class="check-error">Invalid zip code</span>
               </div>
           </div>
           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.dob.dirty && $register.dob.invalid,
                            'has-success': $register.dob.valid
                          }"
           >
               <label class="col-sm-3" for="dob">Birth Date:</label>
               <div class="col-sm-9 col-md-5 droplet">
                   <input type="text"
                          v-model="dob"
                          id="dob"
                          data-format="YYYY-MM-DD"
                          v-validate:dob="{required:true}"
                          data-template="MMM D YYYY"
                          name="dob"
                   >
               </div>
           </div>
           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.gender.dirty && $register.gender.required,
                            'has-success': $register.gender.valid
                      }"
           >
               <label class="col-sm-3" for="gender" >Gender:</label>
               <div class="col-sm-9 col-md-5">
                   <select class="form-control"
                      name="gender"  v-validate:gender="{required:true}">
                       <option value="" disabled :selected="!prepop.gender">-Select-</option>
                       <option value="m" :selected="prepop.gender=='M'">Male</option>
                       <option value="f" :selected="prepop.gender=='F'">Female</option>
                   </select>
               </div>
           </div>



           <hr>

           <!--<div class="form-group"-->
                <!--:class="{-->
                            <!--'has-error': $register.agreement.dirty && $register.agreement.required,-->
                            <!--'has-success': $register.agreement.valid-->
                        <!--}"-->
           <!--&gt;-->
               <!--<div class="col-sm-12 col-md-12">-->
                   <!--<p>-->
                       <!--<input type="checkbox" v-validate:agreement="{required:true}">-->
                       <!--By checking this box, you agree to our <a href="javascript:;" data-toggle="modal" data-target="#tos">Terms of Service </a> and <a href="javascript;" data-toggle="modal" data-target="#pp">Privacy Policy</a>, and agree to receive emails from our product partners for offers of your choice.-->
                   <!--</p>-->
               <!--</div>-->
           <!--</div>-->

           <div class="spacer-mini"></div>
           <div class="text-center">
               <button type="button"
                       class="btn btn-primary submit"
                       :class="{'submitting' : loading}"
                       @click="register"
                       :disabled="loading || !formValid"
               >
                   <span v-show="! loading">Register</span>
                   <div class="la-ball-fall-2" v-show="loading">
                       <div></div>
                       <div></div>
                       <div></div>
                   </div>
               </button>
           </div>
       </form>
    </validator>
   </div>
</section>


<div id="tos" class="modal fade im-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: black;">Highpayingcashsurveys.com Terms of Use</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        These Terms of Use ("Terms of Use") are between you and Engage logic Inc. ( the “Company” ) for the use of the highpayingcashsurveys.com. <br />
                        <br />
                        Although you are not required to create an Account to use the highpayingcashsurveys.com Sites, please be advised that you may not have access. An Account is typically created by providing us with (a) your email address, password and other required information.
                        "Highpayingcashsurveys.com" are nontransferable and are void if a transfer is attempted.
                        "Highpayingcashsurveys.com" and/or rewards may not be bartered or sold. Highpayingcashsurveys.com and/or Highpayingcashsurveys.com accounts are not transferable upon death or as part of a domestic relations matter or otherwise by operation of law. <br />
                        <br />
                        The terms and conditions set forth in these Terms of Use, as well as our <a href="javascript:;"><strong>Privacy Policy</strong></a> and any Additional Terms(defined below), constitute the entire agreement between the Company, and users and members of the Highpayingcashsurveys.com Sites. By using the Highpayingcashsurveys.com Sites, you signify that you have read, understand and agree to be bound by these Terms of Use. We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use at any time without further notice. If we do this, we will post the changes to these Terms of Use on this page and will indicate at the top of this page the Terms of Use's effective date. Your continued use of Highpayingcashsurveys.com Sites after any such changes constitutes your acceptance of the new Terms of Use. If you do not agree to abide by these or any future Terms of Use, please do not use or access Highpayingcashsurveys.com Sites. It is your responsibility to regularly review these Terms of Use. We may post additional terms, official rules, or agreements that apply to certain services, applications, activities, and features we offer or provide at or about the Highpayingcashsurveys.com Sites (“Additional Terms”), and you may be subject to such Additional Terms when you access those services, applications, activities and/or features. <br />
                        <br />
                        You agree to use the Highpayingcashsurveys.com Sites only for purposes that are permitted by these terms and any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions (including any laws regarding the export of data or software to and from the United States or other relevant countries). Subject to your performance of all of the provisions of these Terms of Use, the Company hereby grants you a limited, terminable, non-transferable, personal, non-exclusive license to access and use the Highpayingcashsurveys.com Sites and the Services solely as provided herein. You may download material displayed on the Highpayingcashsurveys.com Sites for non-commercial, personal use only, provided you also retain all copyright and other proprietary notices contained on the materials. You may not, however, distribute, modify, broadcast, publicly perform, transmit, reuse, re-post, or use the content of the Highpayingcashsurveys.com Sites for public or commercial purposes, including the text, images, audio, and video without the Company's prior written permission. Notwithstanding anything to the contrary herein, all rights not specifically granted in the license set forth above shall be reserved and remain always with the Company. Your right to use the Highpayingcashsurveys.com Sites is not transferable. You acquire no rights or licenses in or to the Highpayingcashsurveys.com Sites and materials contained therein other than the limited right to access and utilize the Highpayingcashsurveys.com Sites in accordance with these Terms of Use.

                        <br />
                        <br />
                        <strong>International Users</strong><br />
                        <br />
                        HighpayingcashSurveys is only available to residents of the United States of America currently. All other international users please check by in the future for updates.

                        <br />
                        <br />
                        <strong>User Representations and Warranties</strong><br />
                        <br />
                        By using the Highpayingcashsurveys.com Sites, you represent, warrant and covenant that you: (i) have the power and authority to enter into and be bound by the Terms of Use; (ii) shall not use any rights granted hereunder for any unlawful purpose; (iii) shall use the Highpayingcashsurveys.com Sites only as set forth in these Terms of Use; and (iv) are thirteen years of age or older. If you are under the age of 13, you are not allowed to use the Highpayingcashsurveys.com Sites. You agree not to access (or attempt to access) any of the services available on the Highpayingcashsurveys.com Sites (the "Services") by any means other than through the interface that we provide, unless you have been specifically allowed to do so in a separate agreement with us. You specifically agree not to access (or attempt to access) any of the Services through any automated means (including, without limitation, use of scripts or web crawlers) and shall ensure that you comply with the instructions set out in any robots.txt file present on the Services. <br />
                        <br />
                        <strong>Rewards Programs</strong><br />
                        <br />
                        Overview. The Company may offer rewards programs under which you may have the opportunity to do surveys for money. Not all of the Highpayingcashsurveys.com Sites offer Rewards Programs or cash, however, and Rewards Programs may include Additional Terms that apply to your participation in activities allowing you to earn points (singularly “Activity” and collectively “Activities). Cash can be earned in a Rewards Program by participating in certain Activities, as described at or about the applicable Highpayingcashsurveys.com Sites. If you choose to participate and follow the instructions associated with an Activity, upon satisfying all of the requirements of the Activity, you will be awarded the points associated with completing that Activity. The Company may limit your ability to participate in a Rewards Program in its sole and absolute discretion, and may void any points, rewards, or potential rewards you may have earned or accumulated in a Rewards Program, including (without limitation) if you do not comply with these Terms of Use. You agree to abide by the final and binding decisions of the Company regarding a Rewards Program and your participation in it. We reserve the right to change, suspend, or cancel all or a portion of a Rewards Program, including any points you may have accrued, at any time without notice, and for a duration to be determined in our sole and absolute discretion, including (without limitation) indefinite suspension or cancellation.

                        <br />
                        <br />
                        Redeeming Money. You may redeem money you have earned by logging onto your admin section provided within website and request for funds to be process. You have the option of payment through pay pal or through check. Payments will be processed within two standard USA business days excluding national Holidays.

                        <br />
                        <br />
                        <strong>Intellectual Property</strong><br />
                        <br />
                        You acknowledge that the Highpayingcashsurveys.com Sites have been developed, compiled, prepared, revised, selected and arranged by the Company and others through the expenditure of substantial time, effort and money and constitutes valuable intellectual property and trade secrets of the Company and others. It is our policy to enforce our intellectual property rights to the fullest extent permitted under law. The trademarks, logos and service marks ("Marks") displayed on the Highpayingcashsurveys.com Sites are the property of the Company or third parties and cannot be used without the written permission of the Company or the third party that owns the Marks. The Site is also protected as a collective work or compilation under U.S. copyright and other foreign and domestic laws and treaties. Users are prohibited from using (except as expressly set forth herein), transferring, disposing of, modifying, copying, distributing, transmitting, broadcasting, publicly performing, displaying, publishing, selling, licensing, or creating derivative works of any content on the Highpayingcashsurveys.com Sites for commercial or public purposes. Nothing contained herein shall be construed by implication, estoppel or otherwise as granting to the user an ownership interest in any copyright, trademark, patent or other intellectual property right of the Company or any third party. The Company exclusively owns all worldwide right, title and interest in and to all documentation, software, contents, graphics, designs, data, computer codes, ideas, know-how, "look and feel," compilations, magnetic translations, digital conversions and other materials included within the Highpayingcashsurveys.com Sites and related to the Highpayingcashsurveys.com Sites and all modifications and derivative works thereof, and all intellectual property rights related thereto. <br />
                        <br />
                        <strong>Reporting Copyright Infringement - DMCA Policy</strong><br />
                        <br />
                        If you believe that any content, user-posted materials, or any other material found on or through the Highpayingcashsurveys.com Sites, including through a hyperlink, infringes your copyright, you should notify us. To be effective, the notification to us must be in writing and must comply with the following instructions:
                        <br />
                        <br />
                        1)  Written notices must be sent either:
                        <br />
                        a. electronically sent to <a href="mailto:help@Highpayingcashsurveys.com"><strong>help@Highpayingcashsurveys.com</strong></a> with subject line "DMCA Takedown Request". Emails sent to <strong><a href="mailto:dmca@Highpayingcashsurveys.com">dmca@Highpayingcashsurveys.com</a></strong> for purposes other than communication about copyright infringement may not be answered; or
                        b. via courier (with a confirmed receipt requested) to: Highpayingcashsurveys.com, 3080 Olcott  Street 140 C, Santa Clara, CA, 95054.
                        2)  Each written notification must contain the following information:
                        <ol type="a">
                            <li> an electronic or physical signature of the person authorized to act on behalf of the owner of the exclusive copyright interest; </li>
                            <li>a description of the copyrighted work that you claim has been infringed; </li>
                            <li>a description of where the material that you claim is infringing is located on the Highpayingcashsurveys.com Sites that is reasonably sufficient to enable us to identify and locate the material (for example, a list of URLs); </li>
                            <li>your physical mailing address, telephone number and email address; </li>
                            <li>a statement by you affirming that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and </li>
                            <li>a statement by you that the information provided in your notice is accurate and, under penalty of perjury, that you are the owner of an exclusive right in the material or that you are authorized to act on behalf of the copyright owner. </li>
                        </ol>
                        We will process each written notice of alleged infringement that we receive and will take appropriate action in accordance with applicable intellectual property laws.
                        <br />
                        We have a policy of terminating and/or blocking repeat infringers in appropriate circumstances, in our sole discretion, subject to reasonable limitations.

                        <br />
                        <br />
                        <strong>User Conduct</strong><br />
                        <br />
                        You agree that you will not engage in any activity that interferes with or disrupts the Highpayingcashsurveys.com Sites or the Services including but not limited to :
                        comply with the usage rules. In furtherance of the foregoing, and as an example and not as a limitation, you agree not to use the Service in order to: (a) post, upload, transmit or otherwise disseminate information that is obscene, indecent, vulgar, pornographic, sexual, hateful or otherwise objectionable (b) post spam links, and/or personal referral links in an aggressive, wanton, or otherwise inappropriate fashion both on Highpayingcashsurveys.com or on any other public site on the web

                        <br />
                        <br />
                        <strong>Communities Monitoring</strong><br />
                        <br />
                        The Services may include communication channels such as forums, communities, or chat areas ("Communication Channels") designed to enable you to communicate with other Service users. The Company has no obligation to monitor these communication channels but it may do so in its sole discretion and reserves the right to review materials posted to the Communication Channels and to remove any materials, at any time, with or without notice for any reason, at its sole discretion. The Company may also terminate or suspend your access to any Communication Channels at any time, without notice, for any reason. You acknowledge that chats, postings, or materials posted by users on the Communication Channels are neither endorsed nor controlled by the Company, and these communications should not be considered reviewed or approved by the Company. The Company will not under any circumstances by liable for any activity within Communication Channels. You agree that all your communications with the Communication Channels are public, and thus you have no expectation of privacy regarding your use of the Communication Channels. The Company is not responsible for information that you choose to share on the Communication Channels, or for the actions of other users. <br />
                        <br />
                        <strong>Disclaimer of Warranties; Limitation of Liability; Indemnification

                            <br />
                        </strong><br />
                        You agree that your use of the Services shall be at your sole risk. Subject to you rights under any Consumer Law referred to below and to the maximum extent permitted by law and unless restricted or prohibited by law, the Company, its officers, managers, directors, employees, and agents disclaim all guarantees, warranties and conditions, express or implied, in connection with the Services, the Highpayingcashsurveys.com Sites and your use thereof including implied guarantees or warranties of title, merchantability or acceptable quality, fitness for a particular purpose or non-infringement, accuracy, authority, completeness, usefulness, and timeliness. Subject to you rights under any Consumer Law referred to below and to the fullest extent permitted by law, the Company makes no warranties, conditions or representations about the accuracy or completeness of the content of the Services of the content of any sites linked to the Services and assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content, (ii) personal injury (including death) or property damage, of any nature whatsoever, resulting from your access to and use of the Services, (iii) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein, (iv) any interruption or cessation of transmission to or from the Services, (v) any bugs, viruses, trojan horses, or the like which may be transmitted to or through the Services by any third party, and/or (vi) any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the Services.
                        <br />
                        <br />
                        Subject to your rights under any Consumer Law referred to below and to the maximum extent permitted by law, and unless restricted or prohibited by law, in no event will the Company, its directors, managers, officers, agents, contractors, partners and employees, be liable to you or any third person for any special, direct, indirect, incidental, special, punitive, or consequential damages whatsoever including any lost profits or lost data arising from your use of the Highpayingcashsurveys.com Sites, the Services or other materials or content on, accessed through or downloaded from the Services, whether based on warranty, contract, tort (including without limitation negligence), or any other legal theory, and whether or not the Company has been advised of the possibility of these damages. The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction. You specifically acknowledge that the Company shall not be liable for user submissions or the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you. You agree to indemnify and hold the Company, and each of its directors, managers, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, action, cause of action, application, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with (i) your use of and access to the Highpayingcashsurveys.com Sites and the Services; (ii) your violation of any term of these Terms of Use; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; (iv) any claim that one of your user submissions caused damage to a third party; (v) any tax consequences related to your use of the Highpayingcashsurveys.com Sites and/or (vi) any content you post or share on or through the Service.
                        The Company will not be liable for the termination of the Highpayingcashsurveys.com program on any account whatsoever including (without limitation) any awards, points, prizes or credits in a member's favor at the time of termination. Sometimes when you use our Services, you may use a service or download a piece of software, or purchase goods, provided by another person or company. Your use of these other services, software or goods may be subject to separate terms between you and the company or person concerned. If so, these terms do not affect your legal relationship with these other companies or individuals. <br />
                        <br />
                        You agree that we are not responsible for the loss of Highpayingcashsurveys.com® virtual currency or any points, prizes, awards or credits, regardless of monetary value, in the event there is any: change in the value of each Highpayingcashsurveys.com (as determined in Company's sole discretion), data or server error, computer and/or network system error or failure, criminal act, vandalism, cyber attack or other events which make it commercially unreasonable for us to determine the value of any account or accounts.
                        All guarantees, conditions and warranties whether expressed or applied, as to the condition, suitability, quality, fitness or safety of any goods and services supplied under the Highpayingcashsurveys.com program, other than those implied or imposed by statute, are excluded to the extent permitted by law. All guarantees and warranties implied or imposed by statute are excluded to the extent expressly permitted by statute.
                        Any liability the Company may have to a member under any such guarantees or warranties implied or imposed by statute which cannot be excluded is limited, where the Company is expressly permitted by statute to limit your remedy for a breach of that guarantee or warranty, to supplying or paying the cost of supplying, the goods (or equivalent goods) or services again or repairing or paying the cost of repairing, the goods, at the Company's sole option.

                        <br />
                        <br />
                        <strong>Applicable Law</strong><br />
                        <br />
                        By visiting or using the Service, you agree that the laws of the United States and the State of California, without regard to principles of conflict of laws and regardless of your location, will govern these Terms of Use and any dispute of any sort that might arise between you and the Company. Any claim or dispute between you and the Company that arises in whole or in part from your use of the Service shall be decided exclusively by a court of competent jurisdiction located in Los Angeles County, California, and you hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non convenience with respect to venue and jurisdiction in the state and federal courts of California. TO THE EXTENT PERMITTED BY LAW, YOU AND THE COMPANY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE. Tax Matters. You acknowledge and agree that we do not have the ability, in every instance, to determine whether or not the Highpayingcashsurveys.com you earned or redeemed are considered reportable taxable earnings in your jurisdiction. You are therefore responsible for any and all tax liability arising from or associated with your use of the Highpayingcashsurveys.com Sites, including liability arising from your accrual of Highpayingcashsurveys.com or your redemption of Highpayingcashsurveys.com for cash or other items. As a condition of your continued use of the Highpayingcashsurveys.com Sites, we may require you to provide necessary tax information if our records show that you are required to report your Highpayingcashsurveys.com earnings to the appropriate regulatory entity. We encourage you, and it is your responsibility, to seek advice of a tax expert in order to determine the tax consequences of your activities on the Highpayingcashsurveys.com Sites.

                        <br />
                        <br />
                        <strong>Consumer Laws</strong><br />
                        <br />
                        Despite any other provision of these Terms of Use, if any legislation affects your rights under these Terms of Use (a "Consumer Law"), then to the extent that any term or provision contained in these Terms of Use:
                        <br />
                        •(A) becomes void or unenforceable for any reason; or
                        <br />
                        •(B) would be unfair under the applicable consumer law if applied or relied upon in a particular way,
                        that term or provision will be severed such that all remaining terms and provisions of these Terms of Use will continue to be in full force and effect and be unaffected by the severance of any other term or provision. No provision of these Terms of Use limits, excludes or modifies any right or remedy, or any guarantee, warranty or other term or condition implied or imposed by any Consumer Law which cannot lawfully be excluded, limited or modified. <br />
                        <br />
                        <strong>No Waiver</strong><br />
                        <br />
                        The Company's failure to exercise or enforce any right or provision of these Terms will not be deemed to be a waiver of such right or provision. If any provision of these Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms remain in full force and effect.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="pp" class="modal fade im-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="color: black;">Privacy policy</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        The Company is strongly committed to protecting the privacy of its user community. The intent of this privacy policy ("Privacy Policy") is to detail the information the Company might gather about individuals who visit Highpayingcashsurveys.com Sites, how that information is used, and our disclosure practices. Please note that this Privacy Policy applies only to websites owned and operated by the Company, and not to the sites of other companies or organizations to which we provide links. By using any Highpayingcashsurveys.com Sites, you signify that you have read, understand and agree to be bound by this Privacy Policy as well as our <a href="javascript:;"><strong>Terms of Use</strong></a>, which are incorporated by reference herein to this Privacy Policy.
                        <br />
                        <br />
                        Typically, we will seek consent for the collection, use or disclosure of your personal information at the time of collection. In certain circumstances, consent may be sought after the information has been collected but before use (for example, when we want to use information for a purpose not previously identified). The form of consent that we seek, including whether it is express or implied, will largely depend on the sensitivity of the personal information and the reasonable expectations of the individual in the circumstances.

                        <br />
                        <br />
                        You may withdraw consent at any time, subject to legal or contractual restrictions and reasonable notice. If you wish to withdraw your consent at any time, please contact us as set out below. We will inform you of the implications of withdrawing consent.

                        <br />
                        <br />
                        We will not, as a condition of the supply of a product or service, require you to consent to the collection, use or disclosure of information beyond that required to fulfill the explicitly specified and legitimate purposes for which the information is being provided.

                        <br />
                        <br />
                        <strong>What Personal Information We Collect?</strong>

                        <br />
                        <br />
                        When you sign up for the Highpayingcashsurveys.com Sites you will be required to share information that identifies you personally. "Personal Information" refers to any information that lets us know the specifics of who you are and which can be used to identify, contact or locate you. Examples of Personal Information include, without limitation, your first name together with your last name, your mailing address and/or email address.

                        <br />
                        <br />
                        <strong>When We Collect Personal Information?</strong>

                        <br />
                        <br />
                        Generally, we collect Personal Information when you provide it to us by signing up on Highpayingcashsurveys.com Sites, filling out surveys.
                        <br />
                        <br />
                        The Company usually collects Personal Information so that it can provide you with the Company's goods or services. The Company may also use your Personal Information for other reasons, including updating you on the Company's services, news and special offers (unless you choose to "opt-out" as described in the "Choice/Opt-out" section below).
                        If you don't provide some of the Personal Information the Company asks for (e.g. your name, your mailing address and/or email address), it may be unable to provide you with the Company's goods or services.
                        <br />
                        <br />
                        <strong>What Anonymous User Information do we collect?</strong>
                        <br />
                        <br />
                        The Company collects or may collect some information each time you visit Highpayingcashsurveys.com Sites so we can improve the overall quality of your online experience. We collect or may collect your IP address, referral data, and browser and platform type. You do not have to register on the Highpayingcashsurveys.com Sites or provide any Personal Information to us before we can collect this anonymous information. The Company assigns an anonymous ID number to your requests and links the following additional data to that anonymous ID number: the date and time you visited, your search terms, and the links you choose to click. Like most standard Web site servers, we use log files to collect and store this anonymous user information. The Company analyzes the information to determine trends, administer the site, track user's movement in the aggregate, and gather broad demographic information for aggregate use.
                        Such aggregated anonymous information is used in our market research surveys, to record statistics behind special offers, our "shop & earn" promotions, electronic recycling and our polls.

                        <br />
                        <br />
                        When you communicate with forms and highpayingcashsurvey.com support?
                        If you contact the Company, we may keep a record of that correspondence and we may collect your email address for archival purposes but will not use, transfer or sell your email address except as set forth in this Privacy Policy.

                        <br />
                        <br />
                        We have Third Party Advertisements and what you should know?
                        The Highpayingcashsurveys.com Sites contain links to other sites on the Web. Please be aware that the Company is not responsible for the privacy practices of such other sites. We encourage our users to be aware when they leave the Highpayingcashsurveys.com Sites and to read the privacy statements of each and every Web site that collects personally identifiable information. This privacy policy applies solely to information collected by Highpayingcashsurveys.com Sites.

                        <br /><br />The Highpayingcashsurveys.com Sites may contain links to various other sites that are not owned by the Company. While the Company makes every effort to ensure that its advertisers post clear and complete privacy policies and observe appropriate data practices, each of these sites has a privacy policy that may differ from that of the Company. The privacy practices of other websites and companies are not covered by this Privacy Policy. Please be aware that the Company is not responsible for the privacy practices of such other sites. The Company encourages you to be aware when you leave the Highpayingcashsurveys.com Sites and to read the privacy statements of each and every website that collect personally identifiable information.

                        <br /><br />The Company may allow other companies, called third party ad servers or ad networks, to display advertisements on the Highpayingcashsurveys.com Sites or in Highpayingcashsurveys.com emails to you. Some of these ad networks may place a persistent cookie on your computer. Doing this allows them to recognize your computer each time they send you an online advertisement. In this way, ad networks may compile information about where you, or others who are using your computer, saw their advertisements and determine which ads are clicked on. This information allows an ad network to deliver targeted advertisements that they believe will be of most interest to you. The Company does not have access to or control over the cookies that may be placed by these parties on your computer, and has no control over these parties' privacy policies or information collection practices.

                        <br /><br />Except as specifically set forth in this Privacy Policy, the Company does not to provide your Personal Information to its advertisers unless you make the choice to share it with them. The Company occasionally passes Personally Identifiable Information via a secure interface to certain of its advertisers for the purpose of making it easier for you to sign up for their offers. However, this information is only to be used by the advertiser if you agree to submit the information to the advertiser for the purposes of completing an offer.

                        <br /><br />In the event that the Company is unable to capture your transaction detail, the Company may need to validate your transaction with an advertiser or merchant partner to ensure that your account is credited. The validation information shared is used solely for this purpose and may include your first name, last name, email address, mailing address or date of birth. The Company will require that these third parties comply with the information practices set forth in this Privacy Policy and that the information not be shared or used for any other purpose.

                        <br /><br />The Company may share non-personally identifiable information collected via the service in aggregate, anonymous form with advertisers or other third parties so that they may better evaluate what products and services are most appealing to different segments of the Company's user base. The Company does not disclose your first name, last name, address, email address, or any other Personal Information to these third parties unless you give your express consent.

                        <br /><br /><strong>Do we use online cookies?</strong>

                        <br /><br />The Company may set and access cookies on your computer. A cookie is a small data file that a Web site may send to your browser and which may then be stored on your system. We use both session cookies and persistent cookies. For the session cookie, once you close the browser, the cookie terminates. A persistent cookie is a small text file stored on your hard drive for an extended period of time. Persistent cookies can be removed by following Internet browser help file directions. We use cookie and web beacon technology to track which pages on the Highpayingcashsurveys.com Sites our visitors view and which Web browsers our visitors use. We may also use cookies to help us provide personalized features and preferences to you within the various Highpayingcashsurveys.com Sites in a way that may be linked to individual user information that you elect to share with us. We also use "action tags" to assist in delivering the cookie. These action tags allow us to compile statistics and other data about our customers on an aggregate basis, by embedding a random identifying number on each user's browser. We then track where that number shows up on our site.

                        <br /><br />We will never share such personally identifiable information with third parties except when required by law, where we have a good-faith belief that such action is necessary to comply with a judicial proceeding or administrative legal, a criminal investigation, a court order, or legal process served on Highpayingcashsurveys.com Sites. We may also share your Personal Information if we believe it is necessary in order to investigate, prevent, or take action regarding illegal activities, suspected fraud, situations involving potential threats to the physical safety of any person, violations of Highpayingcashsurveys.com Sites' terms of use, or as otherwise required by law.
                        <br /><br />Personal Information collected by the Company may be disclosed to third parties to whom the Company contracts out specialized goods or services (such as IT service providers). If the Company does disclose Personal Information to third party contractors, the Company takes steps to ensure that those contractors:
                        <br /><br />
                        •  Comply with their obligations under applicable privacy laws; and
                        <br />
                        •  Are authorized only to use Personal Information in order to provide the goods and services required by the Company.
                        <br />
                        <br />
                        Most web browsers automatically accept cookies, but you can usually configure your browser to prevent this. Not accepting cookies may make certain features of the Highpayingcashsurveys.com Sites unavailable to you, though we will make every effort to ensure that users who have disabled cookies are denied access only to those portions of the website that legitimately require cookies for their functionality.

                        <br />
                        <br /><strong>What happens in the event of Mergers; Business Transitions?</strong>

                        <br /><br />In the event the Company goes through a business transition, such as a merger, being acquired by another company, or selling a portion of its assets, users' Personal Information will, in most instances, be part of the assets transferred, unless such a transfer will violate any applicable law.

                        <br /><br /><strong>Do not like us? You have the Choice/Opt-out.</strong>

                        <br /><br />Our goal is to keep you in control of the Personal Information you provide to us. Accordingly, you can review, correct, change or remove any personal registration information you provide to the Company. In order to "opt-out" and elect not to receive future communications from us, please email us at <a href="mailto:support@Highpayingcashsurveys.com"><strong>support@Highpayingcashsurveys.com</strong></a>. You can request access to, and correction of, your Personal Information by contacting the Company as follows:

                        <br />
                        <br />
                        Highpayingcashsurveys.com
                        <br />
                        3080 Olcott street, 140 C.
                        <br />
                        Santa Clara, Ca.
                        <br />
                        <a href="mailto:help@highpayingcasurveys.com"><strong>help@highpayingcasurveys.com</strong></a><br /><br />Please note that as long as you remain a Highpayingcashsurveys.com user, opting not to receive email does not exempt you from receiving administrative emails, which include, but are not limited to, notices about vital service and status changes or alterations to the Company's Terms.

                        <br /><br /><strong>If we update our privacy policy how it will be handled? </strong>

                        <br /><br />We do reserve the right to make changes to this Privacy Policy from time to time. If we decide to change this Privacy Policy, we will post those changes in places on the Highpayingcashsurveys.com Sites deemed appropriate by us so our users are always aware of what information we collect, how we use it, and under what circumstances, if any, we would disclose it. If, however, we are going to use Personal Information in a manner different from that stated at the time of collection we will notify users by posting a notice on Highpayingcashsurveys.com Sites for at least 30 days. Your continued use of Highpayingcashsurveys.com Sites after the changes are posted constitutes your agreement to the changes. If you do not agree to the changes, please discontinue your use of Highpayingcashsurveys.com Sites.

                        <br /><br /><strong>Special Notification with respect to Children's Privacy (Users under the age of 13)</strong>

                        <br /><br />In response to concerns about protecting children's privacy online, Congress enacted the Children's Online Privacy Protection Act of 1998 ("COPPA"), which sets forth rules and procedures governing the ways in which Web sites may collect, use and disclose any personal information for children under the age of 13. In accordance with the Company policy and COPPA regulations, we DO NOT:

                        1.  Request or knowingly collect personally identifiable information online or offline contact information from users under 13 years of age; or
                        2.  Knowingly use or share personal information from users under 13 years of age with third parties;
                        <strong></strong>We request that children under the age of 13 not submit any Personal Information to us via the Highpayingcashsurveys.com Sites. It is possible that by fraud or deception we may receive information given to us or pertaining to children under 13. If we are notified of this, as soon as we verify the information, we will immediately delete the information from our servers.

                        <br /><br />Questions regarding children's privacy should be directed to:
                        <br /><br />
                        Highpayingcashsurveys.com
                        <br />
                        3080 Olcott street, 140 C.
                        <br />
                        Santa Clara, Ca.
                        <br />
                        <a href="mailto:help@highpayingcasurveys.com"><strong> help@highpayingcasurveys.com</strong></a><br /><br />
                        <strong>Transfers of your Personal Information</strong>
                        <br /><br />
                        Although the Company houses its data in the United States, it is possible that some of data processing may occur outside of the United States. While the data protection laws of these countries may vary, the Company will make every reasonable effort to protect your information based upon the express terms of this Privacy Policy. By enrolling in the service, you consent to this transfer of your personal data to any server used by the Company.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</template>
<style>
    .day {
        width: 30% !important;
    }

    .month {
        width: 30% !important;
    }

    .year {
        width: 35% !important;
    }

    .has-error {
         border: 0 !important;
    }

</style>
<script type="text/javascript">
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['user','prepop'],
        data () {
            return {
                loading: false,
                choice: 1,
                password: null,
                zipFlag:false,
                zipLoad: false,
                zip: '',
                emailFlag:false,
                emailLoad: false,
                email: '',
                emailShow: false,
                dob:'',
                windowName: 'register',
                readyState : true
            }
        },
        computed: {
            formValid ()
            {
                return this.$register.email.valid && this.$register.first_name.valid && this.$register.last_name.valid && this.$register.password.valid && this.$register.password_confirmation.valid && this.$register.gender.valid && this.$register.dob.valid && this.$register.mail_address.valid && this.emailFlag && this.zipFlag;
            }
        },
        ready() {
            var self = this;

            this.$nextTick(function() {
                let comboDate = $('#dob').combodate(
                        {
                            customClass: 'combo-date',
                            smartDays: true,
                            minYear: new Date().getFullYear()-100,
                            maxYear: new Date().getFullYear()-17,
                            firstItem: 'DD',
                            yearDescending: false,
                        }
                );


//                if(self.prepop && self.prepop.length>0)
//                {
                    setTimeout(function(){
                        if(self.prepop.email)
                        {
                            self.checkEmail();
                        }

                        if(self.prepop.zip)
                        {
                            self.checkZip();
                        }
                    },3000);
                    comboDate.combodate('setValue',self.prepop.dob);
//                }
//                else
//                {
//                    $('.day').append($('<option>', {
//                        value: '0',
//                        text: 'DD'
//                    }).attr('selected', 'selected'));
//
//                    $('.month').append($('<option>', {
//                        value: '0',
//                        text: 'MM'
//                    }).attr('selected', 'selected'));
//                    $('.year').append($('<option>', {
//                        value: '0',
//                        text: 'YYYY'
//                    }).attr('selected', 'selected'));
//                }
            });
        },
        methods : {

         closeRegister(){
            this.$dispatch('closeModal');
         },
          shiftToTerms (){
              $('.im-modal').modal('hide');
              $('#tos').modal('show');
          },
         shiftToTerms (){
             $('.im-modal').modal('hide');
             $('#pp').modal('show');
          },
          hideRegister () {
              this.show = false;
              this.$dispatch('register-hidden');
          },
          register (e) {
                if(this.user.register || ! this.formValid)
                {
                    return;
                }

                this.loading= true;
                let $form = $(e.target).closest('form');
                $form.submit();
          },
          checkZip()
          {
              if(this.zip.length !=5) {
                  this.zipFlag = false;
                  return;
              }

              this.zipLoad = true;
              $.post('/api/checker/zip',{'zip' : this.zip})
              .done((data) => { this.zipLoad = false; })
              .success( (data) => {
                    if(data.found){
                       this.zipFlag = true;
                       return;
                    }
                    this.zipFlag = false;
              })
              .error((error) => {this.zipFlag = false;});
          },
          checkEmail()
          {
              this.emailLoad = true;

              //validation failed
                if(this.$register.email.email) {
                    this.emailLoad = false;
                    this.emailFlag = false;
                    return;
                }

                $.post('/api/checker/email',{'email' : this.email})
                        .done((data) => { this.emailLoad = false; })
                .success( (data) => {
                    if(data.found){
                        this.emailFlag = false;
                        this.emailShow =true;
                        return;
                     }
                      this.emailShow = false;
                      this.emailFlag = true;
                })
                .error((error) => {this.emailFlag = false;});
          }
        },
        validators: {
            match(val,password) {
                return val===password;
            }
        },

        events :
        {

            registerChild () {
                var self = this;

                if(this.user.register || ! this.formValid)
                {
                    return;
                }
                if(self.readyState==true)
                {
                    self.readyState=false;
                    this.loading= true;
                    let $form = $('#register-form').closest('form');
                    $form.submit();
                    $nextTick(function(){
                        self.readyState = true;
                    });
                }

            }
        }
    }
</script>
