<template>
    <form id="coreg-form">
        <div class="row">
            <div class="col-md-12">
                <h4>Details</h4>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label for="">Name</label>
                <input name="name" type="text" class="form-control">
            </div>

            <div class="col-md-4">
                <label for="">Deal</label>
                <input name="deal" type="text" class="form-control">
            </div>

            <div class="col-md-4">
                <label for="">Description</label>
                <textarea name="description" type="text" class="form-control" rows="3" style="resize: vertical"> </textarea>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h4>Required Fields</h4>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">EIQ Campaign ID</label>
                    </div>
                    <div class="col-md-7">
                        <label for="">Choose Required Fields</label>
                    </div>
                    <div class="col-md-1">
                        <label for="">Action</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <input name="eiq_campaign_id" type="number" class="form-control">
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12">
                                <select v-model="fieldsSelected" name="" class="form-control" id="selectFields" :disable="!fields">
                                    <option v-for="field in fields" v-show="field.status==0" :value="field.index">{{ field.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" v-if="fieldsSelected==39">
                                <hr>
                                <label for="">Custom Field</label>:<input type="text" v-model="customField">
                                &nbsp;&nbsp;&nbsp;
                                <label for="">Static Value</label>:<input type="text" v-model="customStaticValue">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary" @click="fieldPusher">
                            >>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <label for="">Choosen required fields</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul v-for="field in fields" v-show="field.status==1">
                            <li>{{ field.name }} <span class="pull-right"><button type="button" @click="fieldRemover(field.index)" class="btn btn-xs btn-danger">X</button></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input type="checkbox" value="true" v-model="additionalFlag"><label for="">You need additional custom fields?</label>
            </div>
        </div>

        <div class="row form-group" v-if="additionalFlag">
            <div class="col-md-12">
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Additional Fields</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="">Label Question</label>
                            </div>
                            <div class="col-md-2">
                                <label for="">Field Name</label>
                            </div>
                            <div class="col-md-3">
                                <label for="">Field Type</label>
                            </div>
                            <div class="col-md-1">
                                <label for="">Action</label>
                            </div>
                            <div class="col-md-3">
                                <label for="">Additional Field list</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <textarea v-model="additionalLabel" class="form-control" name="" id="" style="resize: vertical" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <input v-model="additionalField" type="text" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-12">
                                        <select v-model="additionalType" class="form-control">
                                            <option value="input">Input Field</option>
                                            <option value="textarea">Text Area Field</option>
                                            <option value="select">Selection Field</option>
                                            <option value="checkbox">Checkbox with consent</option>
                                            <option value="checkbox_x">Checkbox auto approved</option>
                                            <option value="telephone">Phone Number</option>
                                            <option value="mobile-phone">Mobile Phone</option>
                                            <option value="phone-3">Phone Number(3 inputs)</option>
                                            <option value="mobile-phone-3">Mobile Phone (3 inputs)</option>
                                            <option value="yesOrNo">yes or no</option>
                                            <option value="user_agent">User Agent</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <hr>
                                    </div>
                                </div>

                                <div class="row" v-show="additionalType=='select'">
                                    <div class="col-md-12">
                                        <h4>Create Options</h4>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input v-model="additionalOptionValue" type="text" class="form-control" placeholder="Value">
                                            </div>
                                            <div class="col-md-6">
                                                <input v-model="additionalOptionField" type="text" class="form-control" placeholder="Name">
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                    <div class="col-md-12">
                                        <button type="button" @click="additionalOptionPusher" class="btn btn-primary form-control"> Insert this option </button>
                                    </div>
                                    <div class="col-md-12">
                                        <ul>
                                            <li v-for="option in additionalOptions">{{ option.name }}</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row" v-show="additionalType=='checkbox'||additionalType=='checkbox_x'">
                                    <div class="col-md-12">
                                        <h4>Label for checkbox</h4>
                                        <textarea v-model="additionalCheckLabel" name=""  rows="3" class="form-control" style="resize: vertical;"></textarea>

                                    </div>
                                </div>

                            </div>
                            <div class="col-md-1">
                                <button @click="additionalFieldPusher" type="button" class="btn btn-primary" @click="fieldPusher">
                                    >>
                                </button>
                            </div>
                            <div class="col-md-3">
                                <ul>
                                    <li v-for="field in additionalFields" track-by="$index"> {{ field.field }} - {{ field.type }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <hr>
            <button type="button" class="btn btn-success pull-right" @click="saveCoreg">
                <i class="fa fa-save"></i>  Save
            </button>
        </div>

    </form>

    <br>
    <br>
    <br>
    <br>
</template>

<script type="text/javascript">
    import Coreg from '../mixins/Coreg.vue';
    export default{
        mixins: [Coreg],
        props : [],
        data () {
            return {
                fieldsSelected : 2,
                customField : null,
                customStaticValue : null,
                additionalLabel : null,
                additionalDescription: null,
                additionalType : 'input',
                additionalField : null,
                additionalFields : [],
                additionalOptionField : null,
                additionalOptionValue :null,
                additionalOptions : [],
                additionalCheckLabel : null,
                additionalFlag : false,
            }
        },

        ready : function(){
        },

        methods : {
            fieldPusher : function(){

                var index = $('#selectFields').val();


                if(index==39)
                {
                    var custom = this.fields.length+1;
                    this.fields.push({index:custom,field:this.customField, name:this.customField,value:'static_'+this.customStaticValue,status:1 ,refresh:0, custom:1});


                    console.log(this.fields);
                    this.customField = null;
                    this.customStaticValue = null;
                    return false;
                }
                else if(index==null)
                {
                    $('#selectFields').val('');
                }

                else if(index)
                {
                    this.fields[index]['status']=1;
                    return false;
                }
//
            },

            fieldRemover : function (fieldName) {
                this.fields[fieldName]['status']=0;
            },

            additionalFieldPusher : function(){

                var field = this.additionalField;
                var label = this.additionalLabel;
                var type = this.additionalType;

                var options = null;


                if(type=='select')
                {
                    options = this.additionalOptions;
                }
                else if(type=='checkbox')
                {
                    options = this.additionalCheckLabel;
                }
                else if(type=='yesOrNo')
                {
                    this.additionalOptions.push({name:'yes',value:'yes'},{name:'no',value:'no'});
                    options = this.additionalOptions;
                    type = 'select';
                }

                this.additionalFields.push({field:field, type:type, description:label,options:options,status:1,required:1});

                this.additionalCheckLabel = null;
                this.additionalOptions = [];
                this.additionalType = 'input';
                this.additionalLabel = null;
                this.additionalOptionField = null;
            },


            additionalOptionPusher : function(){
                var field = this.additionalOptionField;
                var value = this.additionalOptionValue;
                this.additionalOptions.push({name:field,value:value});
            },

            saveCoreg : function(){

                var self = this;
                var tempo = this.fields;
                var fields = [];


                for(var i in tempo)
                {
                    if(tempo[i]['status']==1)
                    {
                        fields.push({ key:tempo[i]['field'],value:tempo[i]['value'] });
                    }
                }

                var data = $('#coreg-form').serializeArray();
                data.push({ name: 'fields', value: JSON.stringify(fields)});
                data.push({ name: '_token', value: $('[name="_token"]').attr('content') });

                if(this.additionalFlag==true)
                {
                    data.push({ name: 'additional_fields', value: JSON.stringify(this.additionalFields)});
                }

                $.ajax({
                    url:'/admin/coreg/store',
                    method:'POST',
                    data: data
                }).success(function(response) {
                    notify("Success!", "Campaign has been saved", "success");
                    $('#coreg-form').find("input[type=text], textarea, input[type=number]").val("");

                    self.$dispatch('refreshCoregsLists');
                    self.resetFields();

                    console.log(response)
                }).fail(function(e) {
                    notify(e.statusText || ($.parseJSON(e.responseText)).message, "", "error", 'overlay');
                })
            },

            resetFields : function(){

                var fields = this.fields;
                for(var i in fields)
                {
                    if(fields[i]['custom']==1)
                    {
                        fields.splice(i, 1);
                    }
                    else if(fields[i]['refresh']==0)
                    {
                        fields[i]['status']=0;
                    }
                }
                this.fieldsSelected=2;
                this.fields = fields;

                this.additionalFields=[];
                this.additionalOptionField=null;
                this.additionalOptions=[];
                this.additionalCheckLabel=null;
                this.additionalFlag=false;

            }
        }

    }
</script>