<template>

    <validator name="coregs">
        <form id="coreg-create">
            <div class="row form-group">
                <div class="col-md-3">
                    <img src="/images/nosticker.png" alt="campaign.name">
                </div>
                <div class="col-md-7">
                    <label for="">Change sticker</label>
                    <input type="file" name="file" class="form-control">
                </div>
            </div>
            <div class="row form-group" :class="{ 'has-error' : $coregs.name.invalid && $coregs.name.dirty }">
                <div class="col-md-3">
                    <label for=""><strong>Campaign Name</strong></label>
                </div>
                <div class="col-md-7">
                    <input type="text" name="name" class="form-control"  v-validate:name="{required:true}">
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for=""><strong>Deal</strong></label>
                </div>
                <div class="col-md-7">
                    <textarea  class="form-control" name="deal" style="resize: vertical" rows="3"></textarea>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for=""><strong>Description</strong></label>
                </div>
                <div class="col-md-7">
                    <textarea name="description"  class="form-control" style="resize: vertical" rows="3"></textarea>
                </div>
            </div>
            <div class="row form-group" :class="{ 'has-error' : $coregs.eiq_campaign_id.invalid && $coregs.eiq_campaign_id.dirty }">
                <div class="col-md-3">
                    <label for=""><strong>EIQ Campaign ID</strong></label>
                </div>
                <div class="col-md-7">
                    <input type="number" name="eiq_campaign_id" class="form-control" v-validate:eiq_campaign_id="{required:true,number:true}"/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3">
                    <label for=""><strong>Campaign Type</strong></label>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="radio" name="coreg_type" value="sponsors" checked>
                        <label >Sponsor:</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="coreg_type" value="freebies">
                        <label >Freebie:</label>
                    </div>
                </div>
            </div>
            <div class="row form-group" :class="{ 'has-error' : $coregs.price.invalid && $coregs.price.dirty }">
                <div class="col-md-3">
                    <label for=""><strong>Reward</strong></label>
                </div>
                <div class="col-md-7">
                    <input name="price" type="text" class="form-control" v-validate:price="{required:true,number:true}"/>
                </div>
            </div>
            <hr>

            <div class="row form-group">
                <div class="col-md-5" style="background:whitesmoke">
                    <h4><strong>Hidden Fields</strong> (Mandatory Fields)</h4>
                </div>
                <div class="col-md-7" style="background: floralwhite">
                    <h4><strong>Additional Fields</strong> (Optional Fields)</h4>
                </div>
            </div>

            <div class="row">

                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

                <div class="col-md-2">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <strong>Add - Required Fields</strong>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <select name="" id="" class="form-control" v-model="newRequiredId">
                                <optgroup v-for="(gi,groups) in fields" :label="groups.name">
                                    <option v-for="(fi,field) in groups.values" :value="[gi,fi]">{{ field.name }}</option>
                                </optgroup>
                            </select>
                            <div v-if="newRequiredId[0]==7 && newRequiredId[1]==0">
                                <hr>
                                <strong>Custom Field</strong>:
                                <input class="form-control" type="text" v-model="customField">
                                <strong>Static Value</strong>:
                                <input class="form-control" type="text" v-model="customStaticValue">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-primary pull-right" @click="pushReqField(newRequiredId)">
                                >>
                            </button>
                        </div>
                    </div>
                </div>

                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

                <div class="col-md-3">
                    <strong>Selected Required Fields</strong>
                    <ul class="">
                        <li v-for="field in selectedCampaignFields" style="padding-top:2px" class="focus-field" v-show="field | filterIndex">
                            {{ field | filterIndex }} <i class="fa fa-times pull-right field-remove" aria-hidden="true" @click="selectedCampaignFields.splice($index, 1)"></i>
                        </li>
                    </ul>
                </div>

                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

                <div class="col-md-3">
                    <strong>Add - Additional Fields</strong>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Label Question</label>
                            <textarea v-model="additionalLabel" class="form-control" name="" style="resize: vertical" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Field Name</label>
                            <input v-model="additionalField" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label>Field Type</label>
                            <select v-model="additionalType" class="form-control">
                                <option value="input">Input Field</option>
                                <option value="textarea">Text Area Field</option>
                                <option value="select">Selection Field</option>
                                <option value="checkbox">Checkbox with consent</option>
                                <option value="checkbox_x">Checkbox auto approved</option>
                                <option value="telephone">Phone Number</option>
                                <option value="mobile-phone">Mobile Phone</option>
                                <option value="phone-3">Phone Number(3 inputs)</option>
                                <option value="mobile-phone-3">Mobile Phone (3 inputs)</option>
                                <option value="yesOrNo">yes or no</option>
                                <option value="user_agent">User Agent</option>
                                <option value="browser_agent">Browser Agent</option>
                                <option value="device_type">Device Type</option>
                                <option value="os_type">OS Type</option>
                            </select>

                            <div class="row" v-show="additionalType=='select'">
                                <div class="col-md-12">
                                    <h4>Create Options</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label for="">Value</label>
                                            <input v-model="additionalOptionValue" type="text" class="form-control" placeholder="Value">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="">Name</label>
                                            <input v-model="additionalOptionField" type="text" class="form-control" placeholder="Name">
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-12">
                                    <button type="button" @click="additionalOptionPusher" class="btn btn-success form-control"> Insert this option </button>
                                </div>
                                <div class="col-md-12">
                                    <ul>
                                        <li v-for="option in additionalOptions">{{ option.name }}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row" v-show="additionalType=='checkbox'||additionalType=='checkbox_x'">
                                <div class="col-md-12">
                                    <h4>Label for checkbox</h4>
                                    <textarea v-model="additionalCheckLabel" name=""  rows="3" class="form-control" style="resize: vertical;"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <button @click="additionalFieldPusher" type="button" class="btn btn-primary pull-right" @click="fieldPusher">
                                >>
                            </button>
                        </div>
                    </div>
                </div>

                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

                <div class="col-md-4">
                    <strong>Selected Additional Fields</strong>
                    <div class="row">
                        <ul class="">
                            <li v-for="field in selectedCampaignAdditionalFields" class="focus-field">
                                <span><strong>Question : </strong>
                                {{ field.description }}
                                <i class="fa fa-times field-remove pull-right" aria-hidden="true" @click="selectedCampaign.additional_fields.splice($index, 1)"></i>
                                </span>
                                <br>
                                <span><strong>Field name : </strong>
                                {{ field.field }}
                                </span>
                                <br>
                                <span><strong>Field type : </strong>
                                {{ field.type }}
                                </span>
                                <br>
                                <span v-if="field.type=='select'"><strong>Options : </strong>
                                <br>
                                    <span v-for="option in field.options" style="margin-left: 5px">
                                        <i class="fa fa-caret-square-o-right text-green" aria-hidden="true"></i>  {{ option.name }} - {{ option.value }}
                                        <br>
                                    </span>
                                </span>
                                <span v-else=""><strong>Options : </strong>
                                <br>
                                    {{ field.options }}
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row form-group">
                <input type="hidden" name="_token" v-model="token">
                <hr />
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" :disable="loading"><span v-if="loading"><i class="fa fa-spinner fa-spin"></i></span><span v-else>Insert Campaign</span></button>
                </div>
            </div>
        </form>
    </validator>
</template>

<script type="text/javascript">
    import Coreg from '../mixins/Coreg.vue';
    export default{
        mixins: [Coreg],
        props : [],
        data () {
            return {
                token : $('[name="_token"]').attr('content'),
                loading : false,
                selectedCampaignFields : [],
                selectedCampaignAdditionalFields : [],
                newRequiredId : 0,
                customField : null,
                customStaticValue : null,
                additionalLabel : null,
                additionalType : null,
                additionalOptionValue : null,
                additionalOptionField : null,
                additionalOptions : [],
                additionalCheckLabel : null,
                additionalField : null
            }
        },

        ready(){
            this.jQuery();

        },

        methods : {
            jQuery()
            {
                var self = this;
                var form = document.getElementById('coreg-create');
                var request = new XMLHttpRequest();

                form.addEventListener('submit', function (e) {
                    e.preventDefault();

                    if(self.$coregs.invalid)
                    {
                        return false;
                    }

                    self.loading = true;

                    var formData = new FormData(form);
                    formData.append('fields', JSON.stringify(self.selectedCampaignFields));
                    formData.append('additional_fields', JSON.stringify(self.selectedCampaignAdditionalFields));

                    var url = '/admin/coreg/store';

                    request.open('post', url);
                    request.addEventListener("load", transferComplete);
                    request.send(formData);
                });

                function transferComplete(data) {
                    var response = JSON.parse(data.currentTarget.response);
                    if (response.success) {
                        notify("Success!", "Coreg has been save", "success");
                        self.$dispatch('refreshCoregsLists');
                        self.loading = false;
                        $('#coreg-create').find("input[type=text], textarea").val("");
                        self.selectedCampaignFields = [];
                        self.selectedCampaignAdditionalFields = [];
                    }
                    else {
                        notify("Oops! Error", "", "error", 'overlay');
                        self.loading = false;
                    }
                }
            },

            pushReqField(id)
            {
                if(id==undefined || id==null || id=="")
                {
                    return false;
                }

                let key = this.fields[id[0]]['values'][id[1]]['field'];
                let value = this.fields[id[0]]['values'][id[1]]['value'];

                if(id[0]==7 && id[1]==0)
                {
                    key = this.customField;
                    value ='static_'+this.customStaticValue;
                }

                let existing = this.selectedCampaignFields;

                for(var i in existing)
                {
                    if(Object.keys(existing[i])[0]==key)
                    {
                        notify("Oops! Error", "Required Field Already Exist" + existing[i][0], "error", 'overlay');
                        return false;
                    }
                }

                var obj = {};
                obj[key]= value;
                this.selectedCampaignFields.push(obj);

            },
            additionalOptionPusher : function(){
                var field = this.additionalOptionField;
                var value = this.additionalOptionValue;
                this.additionalOptions.push({name:field,value:value});
            },

            additionalFieldPusher : function(){

                var field = this.additionalField;
                var label = this.additionalLabel;
                var type = this.additionalType;

                var options = null;


                if(type=='select')
                {
                    options = this.additionalOptions;
                }
                else if(type=='checkbox' || type=='checkbox_x')
                {
                    options = this.additionalCheckLabel;
                }
                else if(type=='yesOrNo')
                {
                    this.additionalOptions.push({name:'yes',value:'yes'},{name:'no',value:'no'});
                    options = this.additionalOptions;
                    type = 'select';
                }

                this.selectedCampaignAdditionalFields.push({field:field, type:type, description:label,options:options,status:1,required:1});

                this.additionalCheckLabel = null;
                this.additionalOptions = [];
                this.additionalType = 'input';
                this.additionalLabel = null;
                this.additionalOptionField = null;
            }
        },

        filters : {
            formatSticker(image)
            {
                return image;
            },

            filterIndex(field)
            {
                return Object.keys(field)[0];
            }

        }
    }
</script>