<template>
   <section v-if="user &&
                    !user.challenge_notification
                    && user.can_challenge
                    && !hpcs && user.challenge_designation >= 2
                    && show
                    && validForSurvey"
            class="animated"
            transition="fade"
   >
       <h1 class="text-center title">Welcome back! ready for your challenge?</h1>
       <div class="spacer"></div>
       <div class="row">
           <p class="text-center move-up-large">Click on the orange tab to the right.</p>
           <div class="option-set">
               <div class="row">
                   <p>&ndash; Complete a quick, easy survey daily, for 30 days. You'll earn $1 per day - that's $30 total!</p>
                   <p>&ndash; If you miss a day, You'll miss your dollar for that day. Never Fear&mdash;you can earn your dollar when you come back and take a survey! Take your next survey as soon as you come back and you'll get your next dollar. That means you can earn $30 in 30 days...or you can stretch it out over a long period of time if you want to.</p>
                   <p>&ndash; Track your progress on the calendar!</p>
               </div>
           </div>
           <local-button :user="user"></local-button>
       </div>
   </section>
</template>
<script>
    import LocalButton from './LocalButton.vue';
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        components: {LocalButton},
        props: ['user', 'hpcs'],
        data () {
            return {
                windowName: 'alert'
            }
        },
        computed: {
            validForSurvey() {
                return this.user && !this.user.last_challenge || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;
            }
        }
    }
</script>