<template>
    <div class="animated" v-if="user && show" transition="fade">
        <p class="gray-dark-font heading">Search for more local surveys to earn more money</p>
        <div class="row">
            <div class="col-xs-6">
                <div class="right-inner">
                    <select name="service" v-model="type" class="form-control" required="required">
                        <option value="all">ALL</option>
                        <option value="cash">CASH</option>
                        <option value="points">POINTS</option>
                        <option value="sweepstakes">SWEEPSTAKES</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-6" :class="{'has-error': !zipFlag, 'has-success': zipFlag}">
                <div class="search-group">
                    <input type="search"
                           class="form-control col-xs-9"
                           v-model="zip"
                           placeholder="Zipcode"
                           @key-up="checkZip | debounce 250"
                           :disabled="zipLoad"
                    />
                    <button  class="searchzip-btn col-xs-3" @click="searchZip" :disabled="loading || ! zipFlag || zipLoad || !zip">
                        <i class="fa fa-search "
                           aria-hidden="true"
                           v-show="! loading"
                        ></i>
                        <div class="la-ball-fall la-white la-sm small-ball" v-show="loading">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </button>
                </div>
                <span v-show="zipLoad" class="checking">Validating zip...</span>
                <span v-show="!zipFlag" class="check-error">Invalid zip code</span>
            </div>
        </div>
        <div class="spacer-mini"></div>
       <!-- <div class="progress progress-tracker">
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
            <div class="progress-bar progress-bar-success" role="progressbar" style="width:10%"></div>
        </div>
        <h4 class="text-center">PROGRESS TRACKER</h4>-->
        <div class="spacer-mini"></div>
        <Offer v-for="(index, offer) in sortedOffer" :user="user" :link="createLink(offer)" :offer="offer" :index="index" :current="pagination.current"></Offer>
        <div class="text-center">
            <hr>
            <button class="btn btn-primary" v-show="showNext" @click="loadMore"><i class="fa fa-plus-square-o"></i> Load More</button>
            <button v-else @click="goTop" class="btn btn-primary" title="Go back to top"><i class="fa fa-chevron-circle-up"></i> Back to top</button>
        </div>
    </div>
</template>
<script>
    import Offer from './LocalSurveys/Offer.vue';
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        components: {Offer},
        props: ['user','categories'],
        data () {
            return {
                show: false,
                type: 'all',
                sortedOffer: null,
                loading:false,
                showNext: true,
                pagination: {
                    current: 7,
                    add : 5,
                },
                zipFlag:true,
                zipLoad:false,
                zip: '',
                windowName: 'localsurveys'
            }
        },
        mounted() {
            this.sortedOffer = this.categories[0].offers;
            this.zip = this.user ? this.user.zip : '';
        },
        methods: {
            createLink(offer) {
                return 'http://engageiq.nlrtrk.com/?a=7746&c=' + offer.campaign_id + '&s1=' + this.user.id;
            },
            searchZip() {
              this.loading=true;

              setTimeout(() => {
                  this.pagination.current = 7;

                  if(this.type == 'all')
                  {
                      this.sortedOffer = this.categories[0].offers;
                  }

                  if(this.type == 'cash')
                  {
                      this.sortedOffer = this.categories[1].offers;
                  }

                  if(this.type == 'points')
                  {
                      this.sortedOffer = this.categories[2].offers;
                  }

                  if(this.type == 'sweepstakes')
                  {
                      this.sortedOffer = this.categories[3].offers;
                  }
                    this.showNext = true;

                    if(this.sortedOffer.length < this.pagination.current + 1) {
                        this.showNext = false;
                    }

                  this.loading = false;
                }, 1000);
          },
         loadMore() {
            let count = this.sortedOffer.length;
            if(count > (this.pagination.current)) {
                this.pagination.current += this.pagination.add;
            }

             if(count <= (this.pagination.current))
             {
                 this.showNext = false;
             }
         },
            goTop() {
                $("html, body").animate({ scrollTop: 150 }, 600);
            },
            checkZip()
            {
                if(this.zip.length !=5) {
                    this.zipFlag = false;
                    return;
                }

                this.zipLoad = true;
                $.post('/api/checker/zip',{'zip' : this.zip})
                        .done((data) => { this.zipLoad = false; })
            .success( (data) => {
                if(data.found){
                this.zipFlag = true;
                return;
            }
                this.zipFlag = false;
            })
            .error((error) => {this.zipFlag = false;});
            }
        },
        events : {
            'display-local' () {
                this.show = true;
            }
        }
    }
</script>
