<template>
    <div class="well earning-well animated"  transition="fade" v-if="user && user.registered && show">
        <div class="well-action text-right">
            <a @click.prevent="$emit('close-modal')"><i class="fa fa-times-circle-o closer" aria-hidden="true"></i></a>
        </div>
        <div class="text-center earnings-title">
            <h5>Current Earnings Breakdown</h5>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <!-- tabs left -->
            <div class="tabbable tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#a" data-toggle="tab">From HighPayingCashSurveys:</a></li>
                    <li><a href="#b" data-toggle="tab">From Our Sponsors:</a></li>
                    <li><a href="#c" data-toggle="tab">From 30 Day Challenge:</a></li>
                    <li><a href="#d" data-toggle="tab">Freebies:</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="a">
                        <h3 class="earning-header">{{user.hpcs | currency}}</h3>
                        <br/>
                        <p>
                            Lorem ipsum dolor sit amet, charetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero.
                        </p>
                    </div>
                    <div class="tab-pane" id="b">
                        <h3 class="earning-header">{{user.sponsors | currency}}</h3>
                        <br/>
                        <p v-for="coreg in user.coregs">
                            {{ coreg.campaign.description }} - {{coreg.campaign.price | currency }} ( {{ coreg.pivot.status | status }} )
                        </p>
                    </div>
                    <div class="tab-pane" id="c">
                        <h3 class="earning-header">{{user.challenge | currency}}</h3>
                        <br/>
                        <p>
                            Thirdamuno, ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                            Quisque mauris augue, molestie tincidunt condimentum vitae.
                        </p>
                    </div>
                    <div class="tab-pane" id="d">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, nihil.
                        </p>
                    </div>
                </div>
            </div>
            <!-- /tabs -->
        </div>
    </div>
</template>
<script>
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['user'],
        data () {
            return {
                loading: false,
                choice: true,
                windowName: 'redeem'
            }
        },
        methods : {
          hideRedeem () {
              this.show = false;
              this.$dispatch('redeem-hidden');
          }
        },
        filters : {
            status (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Accepted';
                }
                if(val == 2) {
                    return 'Declined'
                }
            }
        }
    }
</script>
<style>
    .earning-header {
        text-align: center;
    }
</style>

