<template>
    <section v-show="user && ! user.registered && designation <= 2 && show"
             class="animated"
             transition="fade"
    >
    <div class="well" style="position: relative;">
    <validator name="register">
       <form class="form-horizontal" role="form" action="/register" method="POST" novalidate autocomplete="off">

           <div class="well-action text-right">
               <a @click.prevent="$emit('close-modal')"><i class="fa fa-times-circle-o closer" aria-hidden="true"></i></a>
           </div>

           <div class="spacer-mini"></div>
           <div class="form-group text-center">
               <button type="button" :class="{'selected': this.choice }" @click="choice = 1" class="btn btn-default">Paypal</button>
               <button type="button" :class="{'selected': !this.choice }" @click="choice = 0" class="btn btn-default">Check</button>
           </div>
           <div class="spacer-mini"></div>

           <div class="form-group"
                :class="{
                            'has-error': $register.first_name.dirty && $register.first_name.required,
                            'has-success': $register.first_name.valid
                        }"
           >
               <input type="hidden" name="paypal" v-model="choice">
               <label class="control-label col-sm-3" for="first_name">First Name:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="first_name"
                          class="form-control"
                          name="first_name"
                          v-validate:first_name="{required:true}"
                          placeholder="Enter firstname"
                   >
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.last_name.dirty && $register.last_name.required,
                            'has-success': $register.last_name.valid
                        }"
           >
               <label class="control-label col-sm-3" for="last_name">Last Name:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="text"
                          class="form-control"
                          name="last_name"
                          v-validate:last_name="{required:true}"
                          placeholder="Enter lastname"
                   >
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.password.dirty && $register.password.minlength,
                            'has-success': $register.password.valid
                        }"
           >
               <label class="control-label col-sm-3" for="password">Password:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="password"
                          class="form-control"
                          name="password"
                          v-model="password"
                          v-validate:password="{required:true,minlength:8}"
                          placeholder="Enter password"
                   >
                   <span v-if="$register.password.dirty && $register.password.minlength" class="check-error">Passwords must be atleast 8 characters</span>
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.password_confirmation.dirty && $register.password_confirmation.match,
                            'has-success': $register.password_confirmation.valid
                        }"
           >
               <label class="control-label col-sm-3" for="password_confirmation">Confirm Password:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="password"
                          class="form-control"
                          v-validate:password_confirmation="{match:password}"
                          name="password_confirmation"
                          placeholder="Confirm Password"
                   >
                   <span v-if="$register.password_confirmation.dirty && $register.password_confirmation.match" class="check-error">Passwords don't match</span>
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.email.dirty && !emailFlag,
                            'has-success': emailFlag
                        }"
           >
               <label class="control-label col-sm-3" for="email">Email:</label>
               <div class="col-sm-9 col-md-7">
                   <input type="email"
                          class="form-control"
                          name="email"
                          v-model="email"
                          @key-up="checkEmail | debounce 300"
                          v-validate:email="{required:true,email:true}"
                          :disabled="emailLoad"
                          placeholder="Enter email"
                   >
                   <span v-show="emailLoad" class="checking">Validating email...</span>
                   <span v-show="!emailLoad && $register.email.dirty && !$register.email.email && emailShow" class="check-error">Email almounted used</span>
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.zip.dirty && !zipFlag,
                            'has-success': zipFlag
                        }"
           >
               <label class="control-label col-sm-3" for="zip">Zip:</label>
               <div class="col-sm-9 col-md-5">
                   <input type="text"
                          class="form-control"
                          name="zip"
                          v-model="zip"
                          v-validate:zip="{required:true}"
                          @key-up="checkZip | debounce 150"
                          :disabled="zipLoad"
                          placeholder="Enter zipcode",
                   >
                   <span v-show="zipLoad" class="checking">Validating zip...</span>
                   <span v-show="$register.zip.dirty && !zipFlag && !zipLoad" class="check-error">Invalid zip code</span>
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.dob.dirty && $register.dob.invalid,
                            'has-success': $register.dob.valid
                        }"
           >
               <label class="control-label col-sm-3" for="dob">Birth Date:</label>
               <div class="col-sm-9 col-md-5">
                   <input type="text"
                          v-model="dob"
                          id="dob"
                          data-format="YYYY-MM-DD"
                          v-validate:dob="{required:true}"
                          data-template="YYYY MMM D"
                          name="dob"
                          value=""
                   >
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="form-group"
                :class="{
                            'has-error': $register.gender.dirty && $register.gender.required,
                            'has-success': $register.gender.valid
                        }"
           >
               <label class="control-label col-sm-3" for="gender" >Gender:</label>
               <div class="col-sm-9 col-md-5">
                   <select class="form-control" name="gender"  v-validate:gender="{required:true}">
                       <option value="" disabled selected></option>
                       <option value="m">Male</option>
                       <option value="f">Female</option>
                   </select>
               </div>
           </div>
           <div class="spacer-mini"></div>
           <div class="text-center">
               <button type="button"
                       class="btn btn-primary submit"
                       :class="{'submitting' : loading}"
                       @click="register"
                       :disabled="loading || ! formValid"
               >
                   <span v-show="! loading">NEXT</span>
                   <div class="la-ball-fall-2" v-show="loading">
                       <div></div>
                       <div></div>
                       <div></div>
                   </div>
               </button>
           </div>
       </form>
    </validator>
   </div>
</section>
</template>
<script>
    import Active from './mixins/Active.vue';
    export default{
        mixins: [Active],
        props: ['user'],
        data () {
            return {
                loading: false,
                choice: 1,
                password: null,
                zipFlag:false,
                zipLoad: false,
                zip: '',
                emailFlag:false,
                emailLoad: false,
                email: '',
                emailShow: false,
                dob:'',
                windowName: 'register'
            }
        },
        computed: {
            designation () {
                return this.user.challenge_designation || 1;
            },
            formValid () {
                return this.$register.valid && this.emailFlag && this.zipFlag;
            }
        },
        mounted() {
            this.$nextTick(function() {
                $('#dob').combodate(
                        {
                            customClass: 'combo-date',
                            smartDays: true,
                            minYear: new Date().getFullYear()-100,
                            maxYear: new Date().getFullYear()-17
                        }
                );
            });
        },
        methods : {
          hideRegister () {
              this.show = false;
              this.$dispatch('register-hidden');
          },
          register (e) {
                if(this.user.register || ! this.formValid)
                {
                    return;
                }

                this.loading= true;
                let $form = $(e.target).closest('form');
                $form.submit();
          },
          checkZip()
          {
              if(this.zip.length !=5) {
                  this.zipFlag = false;
                  return;
              }

              this.zipLoad = true;
              $.post('/api/checker/zip',{'zip' : this.zip})
              .done((data) => { this.zipLoad = false; })
              .success( (data) => {
                    if(data.found){
                       this.zipFlag = true;
                       return;
                    }
                    this.zipFlag = false;
              })
              .error((error) => {this.zipFlag = false;});
          },
          checkEmail()
          {
              this.emailLoad = true;

              //validation failed
                if(this.$register.email.email) {
                    this.emailLoad = false;
                    this.emailFlag = false;
                    return;
                }

                $.post('/api/checker/email',{'email' : this.email})
                        .done((data) => { this.emailLoad = false; })
                .success( (data) => {
                    if(data.found){
                        this.emailFlag = false;
                        this.emailShow =true;
                        return;
                     }
                      this.emailShow = false;
                      this.emailFlag = true;
                })
                .error((error) => {this.emailFlag = false;});
          }
        },
        validators: {
            match(val,password) {
                return val===password;
            }
        },
    }
</script>
<style>
    .checking {
        display: inline;
        color: #56a4da;
        font-size: 62%;
    }

    .check-error {
        display: inline;
        color: red;
        font-size: 62%;
    }
</style>
