<template>
    <div class="well earning-well animated"  transition="fade" v-if="user && show">
        <div class="well-action text-right">
            <a @click.prevent="hideSponsors"><i class="fa fa-times-circle-o closer" aria-hidden="true"></i></a>
        </div>
        <div class="spacer-mini"></div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                <div class="text-center heading-bordered">
                    <h5>From Our Sponsors</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="sponsors-content">
                    <ul class="list-group">
                        <li v-for="coreg in user.coregs" class="list-group-item">
                            {{ coreg.campaign.description }} - {{coreg.campaign.price | currency }} ( {{ coreg.pivot.status | status }} )
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import DisplayEvent from './mixins/DisplayEvent.vue';
    export default{
        mixins: [DisplayEvent],
        props: ['user'],
        data () {
            return {
                loading: false,
            }
        },
        methods : {
          hideSponsors () {
              this.show = false;
              this.$dispatch('sponsors-hidden');
          }
        },
        events : {
            'display-sponsors' () {
                this.show = true;
            }
        },
        filters : {
            status (val) {
                if(val == 0) {
                    return 'Pending';
                }
                if(val == 1) {
                    return 'Accepted';
                }
                if(val == 2) {
                    return 'Declined'
                }
            }
        }
    }
</script>
<style>
    .earning-header {
        text-align: center;
    }
</style>

