<template>
    <section>
    <div class="container">
        <heading :user="user"></heading>
        <div class="row main-content">
            <div class="col-md-7">
                <Contact @change-window="openModal(window)"></Contact>
                <Freebies :user="user" @change-window="openModal(window)"></Freebies>
                <Sponsors :user="user" @change-window="openModal(window)"></Sponsors>
                <Surveys :user="user" :categories="categories" :active="active" :main="main" @change-window="changeWindow(window)"></Surveys>
                <Redeem :user="user" @change-window="openModal(window)"></Redeem>
                <Register :user="user" @change-window="openModal(window)"></Register>
                <Done :user="user" :hpcs="hpcs" :active="active" :main="main" @change-window="changeWindow(window)"></Done>
                <Alert :user="user" :hpcs="hpcs" :active="active" :main="main" @change-window="changeWindow(window)"></Alert>
                <Questions-Challenge :hpcs="hpcs" :questions="questions" :user="user" :active="active" :main="main" @submit-answers="submitForm(form)" @change-window="changeWindow(window)"></Questions-Challenge>
                <Congratulation :user="user" :hpcs="hpcs" :active="active" :main="main" @change-window="changeWindow(window)"></Congratulation>
                <Questions :hpcs="hpcs" :questions="questions" :user="user" :active="active" :main="main" @submit-answers="submitForm(form)" @change-window="changeWindow(window)"></Questions>
            </div><!--end col-md-6 -->
            <div class="spacer visible-xs"></div>
            <div class="col-md-4 sidebar-one">
                <challenge :user="user">
                </challenge>
            </div>
        </div>
    </div>
    <Footing> </Footing>
    </section>
</template>

<script type="text/babel">
    import Sponsors from './Sponsors.vue';
    import Freebies from './Freebies.vue';
    import Questions from './Questions.vue';
    import QuestionsChallenge from './QuestionsChallenge.vue';
    import Heading from './Header.vue';
    import Challenge from './Challenge.vue';
    import Congratulation from './Congratulation.vue';
    import Done from './Done.vue';
    import Alert from './Alert.vue';
    import Register from './Register.vue';
    import Redeem from './Redeem.vue';
    import Surveys from './LocalSurveys.vue';
    import Footing from './Footer.vue';
    import Contact from './Footer/Contact.vue';

    export default {
        data() {
            return {
                hpcs: hpcs.hpcs,
                user: hpcs.user,
                questions: hpcs.questions,
                coreg: hpcs.coreg,
                categories: hpcs.categories,
                loading: false,
                active: '',
                main: '',
            };
        },
        components: {
            Heading,
            Questions,
            QuestionsChallenge,
            Challenge,
            Congratulation,
            Done,
            Alert,
            Register,
            Redeem,
            Surveys,
            Sponsors,
            Freebies,
            Footing,
            Contact
        },
        computed: {
            validForSurvey() {
                if(!this.user) return false;
                return this.user && !this.user.last_challenge || moment(moment().tz('America/New_York').format('YYYY-MM-DD')).diff(moment(this.user.last_challenge),'days') > 0;
            }
        },
        created() {
            if(!this.user || ! this.user.can_challenge)
            {
                this.active = 'questions';
                this.main = 'questions';
                return;
            }

            if(this.user && this.user.can_challenge && this.user.challenge_designation == 1)
            {
                this.active = 'congratulations';
                this.main = 'congratulations';
                return;
            }

            if(this.validForSurvey)
            {
                this.active = 'alert';
                this.main = 'alert';
                return;
            }

            this.active = 'done';
            this.main = 'done';
        },
        mounted() {
            this.refreshIcheck();
            this.$broadcast('display-window', this.active);
        },
        methods: {
            changeWindow(window) {
                alert('window');
                this.active = window;
                this.main = window;
            },
            openModal(window) {
                this.active = window;
            },
            closeModal() {
                this.active = this.main;
            },
            loadingOff () {
                this.loading = false;
                this.refreshIcheck();
                this.$broadcast('loading-off');
                new Audio('/audio/register.mp3').play();
                $("html, body").animate({scrollTop: 0}, 600);
            },
            refreshIcheck() {
                this.$nextTick(function () {
                    $('.questions-yes').icheck({
                        radioClass: ' iradio_square-green',
                        area: '20%' // optional
                    });

                    $('.questions-no').icheck({
                        radioClass: ' iradio_square-red',
                        area: '20%' // optional
                    });
                })
            },
            submitForm($form) {
                alert('wtf!');
                this.loading = true;
                $.post($form.attr('action'), $form.serialize(), ({user, questions, hpcs}) => {
                    this.$broadcast('new-questions');
                    setTimeout(() => {
                        this.user = user;
                        this.questions = questions;
                        this.hpcs = hpcs;
                        if(this.active=='questions-challenge')
                        {
                            this.active ='done';
                        }

                        if(this.active=='questions' &&  this.user && this.user.can_challenge)
                        {
                            this.active ='congratulations';
                        }
                        this.$broadcast('display-window', this.active);
                        this.refreshIcheck();
                    },250);
                }).done(() => {
                    this.loadingOff();
                }).error(function () {
                    alert('oh no!');
                });
            }
        },
        events: {
            'request-survey'() {
                $.get('/challenge', ({user, questions, hpcs}) => {
                    this.user = user;
                    this.questions = questions;
                    this.hpcs = hpcs;
                    this.active = 'questions-challenge';
                    this.$broadcast('display-window', this.active);
                }).done(() => {
                    this.loadingOff();
                }).error(function (data) {
                    alert('error!');
                    console.log(data);
                });
            },
            'register'($form) {
                this.submitForm($form);
            }
        }
    };
</script>
