<template>
  <!-- BEGIIN FAQ MODAL -->
    <div id="faq-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">FAQ</h4>
          </div>
          <div class="modal-body">
            <h5>HOW IT WORKS</h5>
            <p>Market research companies pay us to offer you wuth surveys for your opinions. They pay us, you get to take surveys for free. Even better, you can get reward with cash, prizes and products.</p>
            <h5>OUR GOALS</h5>
            <p>Our aim is to build a community of survey panelists who rely on us for surveys that offer great rewards. We want your experience to be enjoyable and rewarding!</p>
            <h5>HOW DO I GET PAID?</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui id distinctio illo sequi quod at minima.</p>
            <h5>WHAT IF YOU ARE DISQUALIFIED FROM A SURVEY?</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, in aspernatur ipsa tempora quis!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>
    <!-- END FAQ MODAL -->
</template>