<template>
  <!-- BEGIN TERMS MODAL -->
        <div id="terms-modal" class="modal fade" role="dialog" style="padding-right:0px">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Terms of Use</h4>
              </div>
              <div class="modal-body">
                <p>
                    These Terms of Use ("Terms of Use") are between you and Engage logic Inc. ( the “Company” ) for the use of the highpayingcashsurveys.com.
                </p> 

                <p>
                    Although you are not required to create an Account to use the highpayingcashsurveys.com Sites, please be advised that you may not have access. An Account is typically created by providing us with (a) your email address, password and other required information. "Highpayingcashsurveys.com" are nontransferable and are void if a transfer is attempted. "Highpayingcashsurveys.com" and/or rewards may not be bartered or sold. Highpayingcashsurveys.com and/or Highpayingcashsurveys.com accounts are not transferable upon death or as part of a domestic relations matter or otherwise by operation of law.
                </p> 

                <p>
                    The terms and conditions set forth in these Terms of Use, as well as our Privacy Policy and any Additional Terms(defined below), constitute the entire agreement between the Company, and users and members of the Highpayingcashsurveys.com Sites. By using the Highpayingcashsurveys.com Sites, you signify that you have read, understand and agree to be bound by these Terms of Use. We reserve the right, at our sole discretion, to change, modify, add, or delete portions of these Terms of Use at any time without further notice. If we do this, we will post the changes to these Terms of Use on this page and will indicate at the top of this page the Terms of Use's effective date. Your continued use of Highpayingcashsurveys.com Sites after any such changes constitutes your acceptance of the new Terms of Use. If you do not agree to abide by these or any future Terms of Use, please do not use or access Highpayingcashsurveys.com Sites. It is your responsibility to regularly review these Terms of Use. We may post additional terms, official rules, or agreements that apply to certain services, applications, activities, and features we offer or provide at or about the Highpayingcashsurveys.com Sites (“Additional Terms”), and you may be subject to such Additional Terms when you access those services, applications, activities and/or features.
                </p> 

                <p>
                    You agree to use the Highpayingcashsurveys.com Sites only for purposes that are permitted by these terms and any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions (including any laws regarding the export of data or software to and from the United States or other relevant countries). Subject to your performance of all of the provisions of these Terms of Use, the Company hereby grants you a limited, terminable, non-transferable, personal, non-exclusive license to access and use the Highpayingcashsurveys.com Sites and the Services solely as provided herein. You may download material displayed on the Highpayingcashsurveys.com Sites for non-commercial, personal use only, provided you also retain all copyright and other proprietary notices contained on the materials. You may not, however, distribute, modify, broadcast, publicly perform, transmit, reuse, re-post, or use the content of the Highpayingcashsurveys.com Sites for public or commercial purposes, including the text, images, audio, and video without the Company's prior written permission. Notwithstanding anything to the contrary herein, all rights not specifically granted in the license set forth above shall be reserved and remain always with the Company. Your right to use the Highpayingcashsurveys.com Sites is not transferable. You acquire no rights or licenses in or to the Highpayingcashsurveys.com Sites and materials contained therein other than the limited right to access and utilize the Highpayingcashsurveys.com Sites in accordance with these Terms of Use.
                </p>
                
                <h5>International Users</h5>
                HighpayingcashSurveys is only available to residents of the United States of America currently. All other international users please check by in the future for updates.
                <h5>User Representations and Warranties</h5>
                By using the Highpayingcashsurveys.com Sites, you represent, warrant and covenant that you: (i) have the power and authority to enter into and be bound by the Terms of Use; (ii) shall not use any rights granted hereunder for any unlawful purpose; (iii) shall use the Highpayingcashsurveys.com Sites only as set forth in these Terms of Use; and (iv) are thirteen years of age or older. If you are under the age of 13, you are not allowed to use the Highpayingcashsurveys.com Sites. You agree not to access (or attempt to access) any of the services available on the Highpayingcashsurveys.com Sites (the "Services") by any means other than through the interface that we provide, unless you have been specifically allowed to do so in a separate agreement with us. You specifically agree not to access (or attempt to access) any of the Services through any automated means (including, without limitation, use of scripts or web crawlers) and shall ensure that you comply with the instructions set out in any robots.txt file present on the Services.
                <h5>Rewards Programs</h5>
                Overview. The Company may offer rewards programs under which you may have the opportunity to do surveys for money. Not all of the Highpayingcashsurveys.com Sites offer Rewards Programs or cash, however, and Rewards Programs may include Additional Terms that apply to your participation in activities allowing you to earn points (singularly “Activity” and collectively “Activities). Cash can be earned in a Rewards Program by participating in certain Activities, as described at or about the applicable Highpayingcashsurveys.com Sites. If you choose to participate and follow the instructions associated with an Activity, upon satisfying all of the requirements of the Activity, you will be awarded the points associated with completing that Activity. The Company may limit your ability to participate in a Rewards Program in its sole and absolute discretion, and may void any points, rewards, or potential rewards you may have earned or accumulated in a Rewards Program, including (without limitation) if you do not comply with these Terms of Use. You agree to abide by the final and binding decisions of the Company regarding a Rewards Program and your participation in it. We reserve the right to change, suspend, or cancel all or a portion of a Rewards Program, including any points you may have accrued, at any time without notice, and for a duration to be determined in our sole and absolute discretion, including (without limitation) indefinite suspension or cancellation. 

                Redeeming Money. You may redeem money you have earned by logging onto your admin section provided within website and request for funds to be process. You have the option of payment through pay pal or through check. Payments will be processed within two standard USA business days excluding national Holidays. 
                <h5>Intellectual Property</h5>
                You acknowledge that the Highpayingcashsurveys.com Sites have been developed, compiled, prepared, revised, selected and arranged by the Company and others through the expenditure of substantial time, effort and money and constitutes valuable intellectual property and trade secrets of the Company and others. It is our policy to enforce our intellectual property rights to the fullest extent permitted under law. The trademarks, logos and service marks ("Marks") displayed on the Highpayingcashsurveys.com Sites are the property of the Company or third parties and cannot be used without the written permission of the Company or the third party that owns the Marks. The Site is also protected as a collective work or compilation under U.S. copyright and other foreign and domestic laws and treaties. Users are prohibited from using (except as expressly set forth herein), transferring, disposing of, modifying, copying, distributing, transmitting, broadcasting, publicly performing, displaying, publishing, selling, licensing, or creating derivative works of any content on the Highpayingcashsurveys.com Sites for commercial or public purposes. Nothing contained herein shall be construed by implication, estoppel or otherwise as granting to the user an ownership interest in any copyright, trademark, patent or other intellectual property right of the Company or any third party. The Company exclusively owns all worldwide right, title and interest in and to all documentation, software, contents, graphics, designs, data, computer codes, ideas, know-how, "look and feel," compilations, magnetic translations, digital conversions and other materials included within the Highpayingcashsurveys.com Sites and related to the Highpayingcashsurveys.com Sites and all modifications and derivative works thereof, and all intellectual property rights related thereto.
                <h5>Reporting Copyright Infringement - DMCA Policy</h5>
                If you believe that any content, user-posted materials, or any other material found on or through the Highpayingcashsurveys.com Sites, including through a hyperlink, infringes your copyright, you should notify us. To be effective, the notification to us must be in writing and must comply with the following instructions:
                <ol>
                    <li>Written notices must be sent either:</li>
                    <ol type="a">
                        <li>
                        <p>
                            electronically sent to help@Highpayingcashsurveys.com.com with subject line "DMCA Takedown Request". Emails sent to dmca@Highpayingcashsurveys.com.com for purposes other than communication about copyright infringement may not be answered; or b. via courier (with a confirmed receipt requested) to: Highpayingcashsurveys.com, 3080 Olcott Street 140 C, Santa Clara, CA, 95054. 2) Each written notification must contain the following information:
                        </p>
                        </li>
                        <ol type="a">
                            <li>an electronic or physical signature of the person authorized to act on behalf of the owner of the exclusive copyright interest;</li>
                            <li>a description of where the material that you claim is infringing is located on the Highpayingcashsurveys.com Sites that is reasonably sufficient to enable us to identify and locate the material (for example, a list of URLs);</li>
                            <li>your physical mailing address, telephone number and email address;</li>
                            <li>
                                a statement by you affirming that you have a good faith belief that the disputed use is not authorized by the copyright owner, its agent, or the law; and
                            </li>
                            <li>
                                a statement by you that the information provided in your notice is accurate and, under penalty of perjury, that you are the owner of an exclusive right in the material or that you are authorized to act on behalf of the copyright owner.
                            </li>
                        </ol>
                    </ol>
                </ol>
                We will process each written notice of alleged infringement that we receive and will take appropriate action in accordance with applicable intellectual property laws. 
                We have a policy of terminating and/or blocking repeat infringers in appropriate circumstances, in our sole discretion, subject to reasonable limitations. 
                <h5>User Conduct</h5>
                You agree that you will not engage in any activity that interferes with or disrupts the Highpayingcashsurveys.com Sites or the Services including but not limited to : comply with the usage rules. In furtherance of the foregoing, and as an example and not as a limitation, you agree not to use the Service in order to: (a) post, upload, transmit or otherwise disseminate information that is obscene, indecent, vulgar, pornographic, sexual, hateful or otherwise objectionable (b) post spam links, and/or personal referral links in an aggressive, wanton, or otherwise inappropriate fashion both on Highpayingcashsurveys.com or on any other public site on the web
                <h5>Communities Monitoring</h5>
                The Services may include communication channels such as forums, communities, or chat areas ("Communication Channels") designed to enable you to communicate with other Service users. The Company has no obligation to monitor these communication channels but it may do so in its sole discretion and reserves the right to review materials posted to the Communication Channels and to remove any materials, at any time, with or without notice for any reason, at its sole discretion. The Company may also terminate or suspend your access to any Communication Channels at any time, without notice, for any reason. You acknowledge that chats, postings, or materials posted by users on the Communication Channels are neither endorsed nor controlled by the Company, and these communications should not be considered reviewed or approved by the Company. The Company will not under any circumstances by liable for any activity within Communication Channels. You agree that all your communications with the Communication Channels are public, and thus you have no expectation of privacy regarding your use of the Communication Channels. The Company is not responsible for information that you choose to share on the Communication Channels, or for the actions of other users.
                <h5>Disclaimer of Warranties; Limitation of Liability; Indemnification </h5>
                You agree that your use of the Services shall be at your sole risk. Subject to you rights under any Consumer Law referred to below and to the maximum extent permitted by law and unless restricted or prohibited by law, the Company, its officers, managers, directors, employees, and agents disclaim all guarantees, warranties and conditions, express or implied, in connection with the Services, the Highpayingcashsurveys.com Sites and your use thereof including implied guarantees or warranties of title, merchantability or acceptable quality, fitness for a particular purpose or non-infringement, accuracy, authority, completeness, usefulness, and timeliness. Subject to you rights under any Consumer Law referred to below and to the fullest extent permitted by law, the Company makes no warranties, conditions or representations about the accuracy or completeness of the content of the Services of the content of any sites linked to the Services and assumes no liability or responsibility for any (i) errors, mistakes, or inaccuracies of content, (ii) personal injury (including death) or property damage, of any nature whatsoever, resulting from your access to and use of the Services, (iii) any unauthorized access to or use of our secure servers and/or any and all personal information and/or financial information stored therein, (iv) any interruption or cessation of transmission to or from the Services, (v) any bugs, viruses, trojan horses, or the like which may be transmitted to or through the Services by any third party, and/or (vi) any errors or omissions in any content or for any loss or damage of any kind incurred as a result of the use of any content posted, emailed, transmitted, or otherwise made available via the Services. 

                Subject to your rights under any Consumer Law referred to below and to the maximum extent permitted by law, and unless restricted or prohibited by law, in no event will the Company, its directors, managers, officers, agents, contractors, partners and employees, be liable to you or any third person for any special, direct, indirect, incidental, special, punitive, or consequential damages whatsoever including any lost profits or lost data arising from your use of the Highpayingcashsurveys.com Sites, the Services or other materials or content on, accessed through or downloaded from the Services, whether based on warranty, contract, tort (including without limitation negligence), or any other legal theory, and whether or not the Company has been advised of the possibility of these damages. The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction. You specifically acknowledge that the Company shall not be liable for user submissions or the defamatory, offensive, or illegal conduct of any third party and that the risk of harm or damage from the foregoing rests entirely with you. You agree to indemnify and hold the Company, and each of its directors, managers, officers, agents, contractors, partners and employees, harmless from and against any loss, liability, claim, action, cause of action, application, demand, damages, costs and expenses, including reasonable attorney's fees, arising out of or in connection with (i) your use of and access to the Highpayingcashsurveys.com Sites and the Services; (ii) your violation of any term of these Terms of Use; (iii) your violation of any third party right, including without limitation any copyright, property, or privacy right; (iv) any claim that one of your user submissions caused damage to a third party; (v) any tax consequences related to your use of the Highpayingcashsurveys.com Sites and/or (vi) any content you post or share on or through the Service. The Company will not be liable for the termination of the Highpayingcashsurveys.com program on any account whatsoever including (without limitation) any awards, points, prizes or credits in a member's favor at the time of termination. Sometimes when you use our Services, you may use a service or download a piece of software, or purchase goods, provided by another person or company. Your use of these other services, software or goods may be subject to separate terms between you and the company or person concerned. If so, these terms do not affect your legal relationship with these other companies or individuals. 

                You agree that we are not responsible for the loss of Highpayingcashsurveys.com® virtual currency or any points, prizes, awards or credits, regardless of monetary value, in the event there is any: change in the value of each Highpayingcashsurveys.com (as determined in Company's sole discretion), data or server error, computer and/or network system error or failure, criminal act, vandalism, cyber attack or other events which make it commercially unreasonable for us to determine the value of any account or accounts. All guarantees, conditions and warranties whether expressed or applied, as to the condition, suitability, quality, fitness or safety of any goods and services supplied under the Highpayingcashsurveys.com program, other than those implied or imposed by statute, are excluded to the extent permitted by law. All guarantees and warranties implied or imposed by statute are excluded to the extent expressly permitted by statute. Any liability the Company may have to a member under any such guarantees or warranties implied or imposed by statute which cannot be excluded is limited, where the Company is expressly permitted by statute to limit your remedy for a breach of that guarantee or warranty, to supplying or paying the cost of supplying, the goods (or equivalent goods) or services again or repairing or paying the cost of repairing, the goods, at the Company's sole option.
                <h5>Applicable Law</h5>
                By visiting or using the Service, you agree that the laws of the United States and the State of California, without regard to principles of conflict of laws and regardless of your location, will govern these Terms of Use and any dispute of any sort that might arise between you and the Company. Any claim or dispute between you and the Company that arises in whole or in part from your use of the Service shall be decided exclusively by a court of competent jurisdiction located in Los Angeles County, California, and you hereby consent to, and waive all defenses of lack of personal jurisdiction and forum non convenience with respect to venue and jurisdiction in the state and federal courts of California. TO THE EXTENT PERMITTED BY LAW, YOU AND THE COMPANY AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THE SERVICE MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE. Tax Matters. You acknowledge and agree that we do not have the ability, in every instance, to determine whether or not the Highpayingcashsurveys.com you earned or redeemed are considered reportable taxable earnings in your jurisdiction. You are therefore responsible for any and all tax liability arising from or associated with your use of the Highpayingcashsurveys.com Sites, including liability arising from your accrual of Highpayingcashsurveys.com or your redemption of Highpayingcashsurveys.com for cash or other items. As a condition of your continued use of the Highpayingcashsurveys.com Sites, we may require you to provide necessary tax information if our records show that you are required to report your Highpayingcashsurveys.com earnings to the appropriate regulatory entity. We encourage you, and it is your responsibility, to seek advice of a tax expert in order to determine the tax consequences of your activities on the Highpayingcashsurveys.com Sites. 
                <h5>Consumer Laws</h5>
                Despite any other provision of these Terms of Use, if any legislation affects your rights under these Terms of Use (a "Consumer Law"), then to the extent that any term or provision contained in these Terms of Use: 
                •(A) becomes void or unenforceable for any reason; or 
                •(B) would be unfair under the applicable consumer law if applied or relied upon in a particular way, that term or provision will be severed such that all remaining terms and provisions of these Terms of Use will continue to be in full force and effect and be unaffected by the severance of any other term or provision. No provision of these Terms of Use limits, excludes or modifies any right or remedy, or any guarantee, warranty or other term or condition implied or imposed by any Consumer Law which cannot lawfully be excluded, limited or modified.
                <h5>No Waiver</h5>
                The Company's failure to exercise or enforce any right or provision of these Terms will not be deemed to be a waiver of such right or provision. If any provision of these Terms is found by a court of competent jurisdiction to be invalid, the parties nevertheless agree that the court should endeavor to give effect to the parties' intentions as reflected in the provision, and the other provisions of these Terms remain in full force and effect.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>
        <!-- END TERMS MODAL -->
</template>