/**
 * HPCS header style
 */

.fixed-sub {
  padding: 1% 13% 2% 13%;
  background: #f3f5f6;
  -webkit-transform: translateZ(0);
}

.logo-container {
  margin-left:50px;
}

.home-logo {
  width: 50%;
  margin-top: 35px;
}

.current-earnings__glow {
  box-shadow: 0 0 10px 6px #00ccff;
}

.current-earnings__glow {
  box-shadow: 0 0 10px 6px #00ccff;
}

.current-earnings {
  background: $orange-primary;
  color: $white;
  padding: 5px;
  border-radius: 20px 20px 0 0;
  text-transform: uppercase;
  font-weight: 700;
  // font-size: 25px;
  font-size: 2.6rem;
  // font-family: 'PT Serif', serif;
  font-family: 'Open Sans', sans-serif;
}

.visit-redeem {
  // background: $blue-primary;
  background: #0094BA;
  color: $white;
  padding: 5px;
  border-radius: 20px 20px 0 0;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 6px;
  h5 {
    // font-size: 13px;
    font-size: 1.4rem;
    font-weight: 400 !important;
    color: #000;
    opacity: 0.7;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    cursor: pointer;
    background: $blue-primary__hover;
    color: $white;
  }
}

.survey-earnings {
  background: #DFF0D8;
  color: $white;
  padding: 5px;
  border-radius: 10px;
  margin: 5px 5px 5px 0;
  text-transform: uppercase;
  height: 89px;
  h5 {
    margin-bottom: auto !important;
    // font-size: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    opacity: 0.7;
  }
  &:hover {
    cursor: pointer;
  }
}

.survey-extra {
  background: #D9EDF7;
  color: $white;
  cursor: pointer;
  padding: 11px;
  border-radius: 10px;
  text-transform: uppercase;
  &:nth-of-type(2) {
    width: 49%;
    margin-left: 5px;
  }
  &:hover {
    background: $orange-primary;
  }
  h5 {
    margin-bottom: auto !important;
    // font-size: 15px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #000;
    opacity: 0.7;
    padding: 0 5px 0 5px;
  }
}

span.label {
    color: #fff;
    opacity: 0.7;
}

h5 {
  span.label {
    color: #414042;
  }
}


.redeem {
  background: $green-background;
  color: $gray-light-font;
  padding: 1px 0 3px 0;
  &:hover {
    background: $brand-primary;
    color: $white;
    cursor: pointer;
  }
}

.money {
  // font-size: 130%;
  font-size: 20px;
  color: #000;
  opacity: 0.7;
  font-weight: 700;
  // font-family: 'PT Serif', serif;
  font-family: 'Open Sans', sans-serif;
}

.money-extra {
  font-size: 130%;
  color: $blue-darker;
}

.no-border-left {
  border-left: 0;
}

.no-border-top {
  border-top: 0;
}

.no-border-right {
  border-right: 0;
}

.no-padding-right {
  padding-right:0 !important;
}

.move-up {
  margin-top: -15px !important;
}

.move-up-large {
  margin-top: -80px;
}

.move-down {
  padding-top: 40px !important;
}

.move-down-large {
  padding-top: 60px;
}

.move-down-xlarge {
  padding-top: 102px;
}

.link-icon {
  color: $blue-darker;
  cursor: pointer;
  position: absolute;
  right: 2px;
  top: 1px;
  &:hover {
    color: $orange;
  }
}

/**
 * Glowing text effect style
 */
.row-redeem {  
  background: $green-primary;
  border-radius: 0 0 10px 10px;
  color: $orange;
  font-size: 130%;
  margin-right: -9px;
  padding: 5px;
  text-transform: uppercase;
  h5 {
  // font-size: 65%;
  font-size: 20px;
  color: $white;
  }
  h4 {
    font-size: 60%;
  }
  &:hover {
  background: $green-primary__hover;
  cursor: pointer;
  color: $white;
  }
}

.glow-money {
  animation:glow .5s ease-in-out infinite;
}

@-webkit-keyframes glower
{
    from {text-shadow: 0px 0px 4px #037d05;}
    to {text-shadow : none;}
}

@-moz-keyframes glower
{
    from {text-shadow: 0px 0px 4px #037d05;}
    to {text-shadow : none;}
}
@keyframes glower
{
    from {text-shadow: 0px 0px 4px #037d05;}
    to {text-shadow : none;}
}

.glow-text {
  color: #037d05;
  text-shadow: 0px 0px 4px #037d05;
  -webkit-animation: glower 1s infinite;
  -moz-animation: glower 1s infinite;
  animation: glower 1s infinite;
}


@keyframes glow {
  0%,100%{ text-shadow:0 0 40px red; }
  25%{ text-shadow:0 0 40px orange; }
  50%{ text-shadow:0 0 40px forestgreen; }
  75%{ text-shadow:0 0 40px cyan; }
}

@keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.row-redeem-shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  &:hover {
    animation-play-state: paused;
  }
}

@keyframes border-pulsate {
    0%   { box-shadow: inset 0 0 10px 5px #ffe100; }
    25%   { box-shadow: inset 0 0 10px transparent; }
    50%  { box-shadow: inset 0 0 10px 5px #ffe100; }
    75%  { box-shadow: inset 0 0 10px transparent; }
    100% { box-shadow: inset 0 0 10px 5px #ffe100; }
}

@-webkit-keyframes pulse {
    0% {
        background: transparent;
    }
    50% {
        background: #4CAF50;
        color: #ffffff;
    }
    100% {
        background: transparent;
    }
}
@keyframes pulse {
    0% {
        background: transparent;
    }
    50% {
        background: #4CAF50;
        color: #ffffff;
    }
    100% {
        background: transparent;
    }
}

.glow-box {
    -webkit-animation: border-pulsate 0.8s ease-in-out infinite alternate;
    animation: border-pulsate 0.8s ease-in-out infinite alternate;
}

