/**
 * HPCS sidebar style
 */

.sidebar-one {
  // margin-left: 3%;
  margin-bottom: 15%;
}

// Illustration style 
.illustration {
  height: 500px;
  padding-top: 5%;
  // margin-right: -15%;
  // padding-left: 27%;
}

// FAQ accordion style
.accordion {
  width: 400px;
  position: absolute;
  bottom: 69.5%;
  right: -3%;
  h4 {
    text-transform: uppercase;
  }
}

.footer-accordion {
  z-index: 4;
}

i.indicator {
  font-size: 20px;
  cursor: pointer;
}

button.btn.btn-faq {
  float:right;
  border-radius: 5px 5px 0 0;
  background: $blue-primary;
  color: $white;
  margin-top: -52px;
  text-transform: uppercase;
  padding: 7px 30px 4px 30px;
  height: 48px;
  width: 100px;
}

button.faq-bg-btn {
  border-radius: 5px 5px 0 0;
  background: $white;
  color: $white;
  cursor: default;
  margin: -37px -18px 0px -7px;
  height: 48px;
  width: 100px;
  &:hover {
    color: $white;
  }
}

button.faq-bg-link {
  border-radius: 5px 5px 0 0;
  margin: -17px -18px -10px -7px;
  height: 48px;
  width: 100px;
  background: transparent;
  font-size: 16px;
  padding-top: 12px;
  &:hover {
    color: $navbar-menu-hover !important;
  }
}

button.terms-bg-link {
  text-transform: inherit;
  margin-top: -8px;
  background: transparent;
  font-size: 16px;
  &:hover {
    color: $navbar-menu-hover !important;
  }
}

.policy-bg-link {
  @extend .terms-bg-link;
  margin-left: -10px;
}

button.terms-bg-btn {
  background: $white;
  border-radius: 5px 5px 0 0;
  color: $white;
  cursor: default;
  height: 48px;
  margin: -40px -18px 0 -7px;
  width: 166.5px;
}

button.policy-bg-btn {
  background: $white;
  border-radius: 5px 5px 0 0;
  color: $white;
  cursor: default;
  height: 48px;
  margin: -40px -18px 0 -7px;
  width: 166.5px;
}

.terms-accordion,.privacy-accordion {
  width: 600px;
}

.collapse-one {
  height: 250px;
  overflow-y: auto;
}

.collapse-repcop {
  height: 250px;
  overflow-y: auto;
}

button.btn.btn-terms {
  background: $blue-primary;
  border-radius: 5px 5px 0 0;
  color: $white;
  float:right;
  height: 48px;
  margin-top: -52px;
  padding: 7px 30px 4px 30px;
  text-transform: uppercase;
  width: 178px;
}

button.btn.btn-privacy {
  @extend button.btn.btn-terms;
}

// 30 Day challenge style
.challenge {
  font-weight: 700;
  // margin-right: -25%;
  // padding-left: 28%;
  text-transform: uppercase;
  .panel {
    border: 0px;
    box-shadow: none;
  }
  .panel-default > .panel-heading {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .day-container  {
    margin-left: 5%;
    height: 100%;
    width: 100%;
    div {
      text-align: center;
    }
  }
  .done {
    background: #BABCBE;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    color: $white;
    display: inline-block;
    height: 38px;
    margin-bottom: 2%;
    margin-right: 2%;
    padding-top: 7px;
    width: 35px;
  }
  
  .skip {
    @extend .done;
    background: #0094ba;
  }

  .active {
    @extend .done;
    background: $ongoing;
  }
  .ongoing {
    @extend .done;
    background: $orange-primary;
    &:nth-last-child(-n+2) {
/*       float: left; */
      margin-left: 0px;
    }
  }
}

/**
 * Arrow down icon
 */
.active.ongoing::before {
    animation: bounce 2s infinite;
    color: #56a4da;
    content: "\f078";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    padding-right: .5em;
    position: absolute;
    text-decoration: inherit;
    margin-top: -22px;
}

.active.ongoing {
    border: 1px solid transparent;
    -webkit-animation: shine 1.0s infinite alternate;  
     -webkit-transition: border 1.0s linear, box-shadow 1.0s linear;
       -moz-transition: border 1.0s linear, box-shadow 1.0s linear;
          transition: border 1.0s linear, box-shadow 1.0s linear;
    cursor: pointer;
    &:hover {
      background: $blue-primary;
    }
}

.la-ball-fall.la-white.la-sm.small-ball {
    height: 100%;
    padding-top: 7px;
    width: 100%;
  }

.la-white {
  color: $white;
}
  
// End 30 Day Challenge style

// Bonus Task
.bonus {
  @extend .challenge;
  .panel {
    border: 0px;
    box-shadow: none;
    height: 100%;
  }
  .panel-default > .panel-heading {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .social-container {
    height: 100%;
    width: 100%;
  }
  a {
    display: inline-block;
    margin: 0 2% 4% 1%;
  }
  p {
    padding-top: 2%;
  }
}
// End Bonus Task
// 
@keyframes shine {
  to { 
    border-color: $blue-primary;
    -webkit-box-shadow: 0 0 5px $blue-primary;
       -moz-box-shadow: 0 0 5px $blue-primary;
            box-shadow: 0 0 5px $blue-primary;    
   }
}

.survey-earnings tooltip-hpcs {
  cursor:pointer;
}

.survey-earnings tooltip-hpcs:hover {
  background:#F69323;
}

.hpcs-logo {
  cursor:pointer
}

.bubble{
width: 148px;
background: #cccccc;
position: absolute;
z-index: 5000;
border-radius: 5px;
margin-left: -28px;
padding: 17px;
padding-left: 6px;
font-size: 10px;
color : #000000;
}

.bubble:before {
content: '';
display: block;
width: 0;
height: 0;
position: absolute;
border-top: 8px solid #000000;
border-bottom: 8px solid transparent;
border-right: 8px solid transparent;
left: 65px;
top: -5px;
transform: rotate(46deg);
}

table.table.text-left {
  margin-top: 17px;
  margin-bottom: 0px;
}
