/**
 * HPCS Tab styles
 */
.tab-content {
  height: 415px !important;
}

.table-earnings__sponsors {
  display: block;
  height: 370px;
  overflow-y: auto;
}

.table-wrapper {
  max-height: 370px;
  overflow: auto;
  display:inline-block;
  width: 100%;
}

table.table-earnings {
  background-color: $white;
  font-size: 12px;
  thead {
    background-color: $blue-primary;
    color: $white;
  }
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
  height: 100%;
}

.tab-content > .active,
.pill-content > .active {
  background: $green-dark-background;
  color: $white;
  display: block;
  margin-left: 6px;
  margin-right: 3px;
  padding: 10px 22px 10px 10px;
}

.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tabs-left > .nav-tabs > li {
  background: $white;
  float: none;
  margin-top: -5px;
  padding: 5px;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: 0;
  min-width: 74px;
}

.tabs-left > .nav-tabs {
  float: left;
  text-align: center;
}

.tabs-left > .nav-tabs > li > a {
  background: $gray-primary;
  border: none;
  border-radius: 0 0 10px 10px !important;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  height: 100px;
  margin-right: -1px;
  padding-top: 40px;
  width: 215px;
  &:hover {
    background: $gray-primary__hover !important;
    border: none !important;
    color: $black !important;
  }
  &:focus {
    background: $gray-primary__hover !important;
    border: none !important;
    color: $black !important;
  }
}

li.active a {
  background: $gray-primary__hover !important;
  color: $white;
}

.well.earning-well {
  height: 700px;
}

.tabbable.tabs-left
 p {
  font-size: smaller;
}
