<template>
    <div class="well animated"
         v-show="show"
         transition="fade">
        <validator name="feedback">
            <h1 class="blue-font text-center title">Contact Us</h1>
            <h3 class="blue-font text-center">Tell us how we can improve.</h3>
            <div class="spacer-mini"></div>
            <div class="spacer-mini"></div>
            <form id="feedback-form" class="" role="form">

                <div class="well-action text-right">
                    <a @click="$dispatch('closeModal')"><i class="fa fa-times-circle-o fa-2x closer" aria-hidden="true"></i></a>
                </div>

                <div v-if="user && user.registered==1">
                    <input type="text" name="name" class="form-control hidden" placeholder="Your Name" :value="user.first_name + ' ' + user.last_name">
                    <input type="email"
                           class="form-control hidden"
                           name="email"
                           :value="user.email"
                           placeholder="Your Email"
                    >

                </div>
                <div v-else>
                    <div class="form-group form-feedback">
                        <input type="text" name="name" class="form-control" placeholder="Your Name" v-validate:name="{required:true}">
                    </div>

                    <div class="form-group form-feedback"
                         :class="{
                            'has-error': ($feedback.email.email || $feedback.email.required) && $feedback.email.dirty,
                            'has-success': emailFlag
                        }"
                    >
                        <input type="email"
                               class="form-control"
                               name="email"
                               v-validate:email="{required:true,email:true}"
                               placeholder="Your Email">
                    </div>
                </div>

                <div class="form-group form-feedback">
                    <select name="topic" id="inputTopic" class="form-control" v-model="selected"  v-validate:topic="{required:true}">
                        <option value="" selected="selected">Select a topic</option>
                        <option value="Support">Support</option>
                        <option value="Questions">Questions</option>
                        <option value="Technical">Technical Problem</option>
                        <option value="Loading">Website not loading</option>
                    </select>
                </div>

                <div class="text-left" v-if="selected == 'Technical' || selected == 'Loading'">
                    <p>If you call and report the problem, you will get <strong>$5</strong>. <strong>Please call 1-800-394-7713 Monday - Friday, 8am - 5pm PST</strong>. 
                    You will not receive a sales pitch. We want to keep the experience good for you. 
                    This feedback will help us improve, You may also qualify to receive <strong>$25</strong>. Call to find out how.</p>
                    <div class="spacer-mini"></div>
                </div>

                <div class="form-group form-feedback">
                    <input name="page" type="hidden" :value="user ? user.current_page_level : 1">
                    <textarea name="contents" id="inputFeedb" class="form-control" rows="3" placeholder="Enter your feedback" v-validate:feedback="{required:true}"></textarea>
                </div>
                <div class="spacer-mini"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="row">

                            <div class="col-md-6">
                                <address>
                                    <strong>Mailing Address:</strong> <br>
                                    3080 Olcott Street 215 C,
                                    Santa Clara,
                                    CA,
                                    95054
                                </address>
                            </div>

                            <div class="col-md-6">
                                <div class="pull-right">
                                    <div class="g-recaptcha" data-sitekey="6LeJZBcUAAAAAONeOhf69Z4q4tilEfKkp3UdL6gV"></div>
                                    <p class="captcha-error" v-show="captchaAlert">Sorry, please try this.</p>
                                    <button type="button"
                                            class=" btn btn-primary submit contact-submit pull-right"
                                            :class="{'submitting' : loading}"
                                            :disabled="loading || ! $feedback.valid"
                                            @click="submitFeedback"
                                    >
                                        <span v-show="! loading">Send Feedback</span>
                                        <div class="la-ball-fall-2" v-show="loading">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </button>

                                </div>
                            </div>

                        </div>

                    </div>

                </div>



            </form>
        </validator>
    </div>
</template>


<script>
    import Active from '../mixins/Active.vue';
    export default{
        props : ['user'],
        mixins: [Active],
        data () {
            return {
                loading: false,
                choice: 1,
                captchaAlert: false,
                windowName: 'feedback',
                selected: null
            }
        },
        methods : {

            submitFeedback(){
                if($('#g-recaptcha-response').val()=='')
                {
                    notify("Please answer the captcha field", "", "error", 'overlay');
                    return false;
                }

                this.loading = true;
                var self = this;

                $.post('send/feedback',$('#feedback-form').serializeArray(),function (response) {

                    if(response.code==200)
                    {
                        notify("Success!", "Your Feedback has been successfully sent ", "success");

                        self.$nextTick(function () {
                            self.clean();
                        });
                    }
                    else if(response.code==403)
                    {
                        grecaptcha.reset();
                        notify("Captcha verification Failed. Please try again", "", "error", 'overlay');
                        self.loading = false;
                    }
                    else
                    {
                        notify("Something went wrong", "", "error", 'overlay');
                        self.loading = false;
                    }
                }).fail(function(xhr, status, error) {
                    notify("Something went wrong", "Please send your feedback again", "error", 'overlay');
                    self.loading = false;
                });
            },

            clean(){
                document.getElementById("feedback-form").reset();
                this.$resetValidation();
                grecaptcha.reset();
                this.loading = false;
            }
        }
    }
</script>

