/**
 * Main content style
 */
body {
	font-family: 'Roboto', sans-serif !important;
	font-size: 16px !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto Slab', sans-serif !important;
}

.page-header .navbar .navbar-nav > li > a {
	font-family: 'Roboto Slab', serif !important;
}

.portlet.light > .portlet-title > .caption > .caption-subject {
	font-family: 'Roboto Slab', serif !important;
}

.page-content {
	background: $grey-color !important;
}

.spacer {
	margin-bottom: 10px;
}

a.dashboard-stat.dashboard-stat-v2.bordered {
	border: 2px solid $grey;
}

.description {
  resize: vertical;
}

.visual {
	i {
		max-width: 100%;
	  	-moz-transition: all 0.3s;
	  	-webkit-transition: all 0.3s;
  		transition: all 0.3s;
	}
}

.dashboard-stat {
	&:hover i {
  	transform: scale(1.2);
  }
}

.dashboard-stat .details .desc {
	font-size: 20px !important;
}

.form-control {
	&:focus {
		border-color: $blue !important;
	}
}

.tabbable-custom > .nav-tabs > li.active {
	border-top: 3px solid $blue !important;
}

.border-dashed {
	border: 1px solid $blue;
	padding: 10px !important;
}

.page-header .navbar .topbar-actions .btn-group-img .btn {
    background: rgba(51, 60, 67, 0) !important;
    span {
    	color: $blue !important;
   }
}

#refresh {
	margin-right: 2%;
}


td.Question__container.border-right {
    border-right: 1px solid white;
}
