/**
 * Custom stylesheet for HPCS
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');
@import 'components/style';

*{
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 1.6em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #414042;
  line-height: normal;
}

.rotate {
  width: 30%;
  margin: 0 auto;
}

.landscape {
  position:fixed;
  top: 0;
  left:0;
  height:100%;
  width:100%;
  display: none;
  .alert-container {
    width: 70%;
    margin: 0 auto;
    h4 {
      // color: #ffffff;
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid $blue-border;
  /* Set the fixed height of the footer here */
  height: 200px;
  background-color: $blue-primary;
  .small-desc {
    color: $white;
  }
}

ul.footer-links li a {
  display: inline-block;
}

.footer a {
  color: $white;
  margin-top: 1%;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}

.hpcs-main {
  // margin-bottom: 15%;
  margin-bottom: 250px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'PT Serif', serif;
  font-weight: 700;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.spacer {
  margin-bottom: 100px;
}

.spacer-mini {
  margin-bottom: 25px;
}

.spacer-xs {
  margin-bottom: 15px;
}

.panel-default .panel-heading {
  color: $white;
  background: $blue-primary;
}

.panel-title {
  text-align: center;
}

.centered-input {
  text-align: center;
}

.small-font {
  font-size: 75%;

}

.col-md-offset-1 {
    margin-bottom: 10%;
}

/*
 * Force columns in a row to be equal in height
 * @example div.row.row-eq-height>col-md-4*3
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

/**
 * Vue cloak styles
 * ---------------------------------------------------
 */
 [v-cloak] .v-cloak--block {
  display: block;
}
[v-cloak] .v-cloak--inline {
  display: inline;
}
[v-cloak] .v-cloak--inlineBlock {
  display: inline-block;
}
[v-cloak] .v-cloak--hidden {
  display: none;
}
[v-cloak] .v-cloak--invisible {
  visibility: hidden;
}
.v-cloak--block,
.v-cloak--inline,
.v-cloak--inlineBlock {
  display: none;
}

/**
 * Modal Custom Style
 */
 .login-modal {
    width: 400px;
 }

 .btn-block {
    height: 50px !important;
 }

 .modal-header {
  color: #000 !important;
 }

/**
* Custom tooltip
*/
.tooltip{
  display:block;
  filter:alpha(opacity=0);
  font-size:13px;
  opacity:0;
  padding:5px;
  position:absolute;
  visibility:visible;
  z-index:1020;
  .tooltip-inner {
    background: $gray-background;
    border-radius: 0px;
    color: $black;
    max-width: 350px !important;
  }
}

.tooltip.in{opacity:1!important;}

.breakdown {
  background: $breakdown;
}

.table-moredetails {
  background: $white;
  padding-top: 10px;
  .table-moredetails__title {
    background: $blue-primary;
    padding: 10px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    h4 {
      font-size: 15px;
    }
    h5 {
      font-size: 14px;
    }
  }
  .table-moredetails__img {
    width: 35%;
  }
  .icon-name {
    padding-top: 10px;
  }
  .table-moredetails__img2 {
      margin-left: -12%;
      padding: 10px 0 10px 0;
      width: 49%;
  }
}


.table__offer, .table__icon {
  width: 20%;
}

.Local__div {
  margin-top: 25px
}

.error-login {
  color: red;
  padding: 2px;
  font-size: 85%;
  text-align: center;
}

.earning-header {
  text-align: center;
}

.pending-registration {
  color:red;
}

.checking {
  display: inline;
  color: #56a4da;
  font-size: 62%;
}

.check-error {
  display: inline;
  color: red;
  font-size: 62%;
}

.rating-small>span {
  font-size:15px !important;
  pointer-events:none;
}

.rating-author {
  margin-bottom:0px;
}

.see-more {
  cursor: pointer;
  font-size:smaller;
}

.rating span:hover{
  cursor: pointer;
}

.star-active:before {
  content: "\2605" !important;
  position: absolute !important;
  left: 0 !important;
  color: gold !important;
}

.error-ratings {
  font-size:80%;
  color:red;
}

.captcha-error {
  font-size: 80%;
  color:red;
}

/**
 * Badges styles
 */
.badge-danger {
  background: $red;
}

.badge-default {
  background: $default;
}

.badge-primary {
  background: $blue;
}

.badge-success {
  background: $green;
}

.center-el {
  padding-top: 2px;
}

table.Questions__table tr:nth-child(odd) {
    background-color: #9FCFEF;
}

.btn-primary {
  background-color: $blue-primary !important;
  &:hover {
    background-color: $blue-primary__hover !important;
  }
}

.fa-2x {
    font-size: 200% !important;
}

table.challenge-question__table {
    border-collapse: initial;
    border-spacing: 0;
}

.linkout-done p,
.linkout-done h5,
.linkout-done .offer-button, {
  text-decoration: line-through;
  cursor: not-allowed;
}

.content-moredetails { padding-top: 10px; }

.floater-container {
  z-index: 100;
  position: fixed;
  top: 250px;
  left: 0;
  float: right;
  .floater {
    border-radius: 0 5px 5px 0;
    background: #BABCBE !important;
    border: 0px;
  }
  p {
    display: inline-block;
  }
}

.form-feedback {
  margin-bottom: 20px;
}

.mobile-promise {
  margin-top: 5em;
}

img.custom-arrow {
  width: 90px;
  margin-top: 10px;
}
