@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
/**
 * Colors
 */
/**
 * Navbar Styles
 */
.page-header .navbar .search .form-control {
  background: #eef1f5 !important; }

.page-header .navbar .navbar-nav li > a:hover {
  background: #3598DC !important; }

.page-header .navbar .navbar-nav li.open > a {
  background: #3598DC !important;
  color: #fff !important; }

.page-header .navbar .navbar-nav .dropdown-menu {
  background: #3598DC !important; }
  .page-header .navbar .navbar-nav .dropdown-menu > li > a {
    color: #fff !important; }
    .page-header .navbar .navbar-nav .dropdown-menu > li > a:hover {
      color: #eef1f5 !important; }
    .page-header .navbar .navbar-nav .dropdown-menu > li > a > [class*=" fa-"] {
      color: #fff !important; }
    .page-header .navbar .navbar-nav .dropdown-menu > li > a:hover {
      color: #eef1f5 !important; }

a.terms {
  margin-top: 4px; }

/**
 * Portlet icons
 */
.portlet >
.portlet-title >
.tools >
a.reload {
  background-image: url(../../images/admin/portlets/portlet-reload-icon.png) !important; }

a.collapse {
  background-image: url(../../images/admin/portlets/portlet-collapse-icon.png) !important; }

a.remove {
  background-image: url(../../images/admin/portlets/portlet-remove-icon.png) !important; }

a.expand {
  background-image: url(../../images/admin/portlets/portlet-expand-icon.png) !important; }

/**
 * Main content style
 */
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px !important; }

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', sans-serif !important; }

.page-header .navbar .navbar-nav > li > a {
  font-family: 'Roboto Slab', serif !important; }

.portlet.light > .portlet-title > .caption > .caption-subject {
  font-family: 'Roboto Slab', serif !important; }

.page-content {
  background: #f5f5f5 !important; }

.spacer {
  margin-bottom: 10px; }

a.dashboard-stat.dashboard-stat-v2.bordered {
  border: 2px solid #eef1f5; }

.description {
  resize: vertical; }

.visual i {
  max-width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.dashboard-stat:hover i {
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.dashboard-stat .details .desc {
  font-size: 20px !important; }

.form-control:focus {
  border-color: #3598DC !important; }

.tabbable-custom > .nav-tabs > li.active {
  border-top: 3px solid #3598DC !important; }

.border-dashed {
  border: 1px solid #3598DC;
  padding: 10px !important; }

.page-header .navbar .topbar-actions .btn-group-img .btn {
  background: rgba(51, 60, 67, 0) !important; }
  .page-header .navbar .topbar-actions .btn-group-img .btn span {
    color: #3598DC !important; }

#refresh {
  margin-right: 2%; }

td.Question__container.border-right {
  border-right: 1px solid white; }

/*# sourceMappingURL=admin.css.map */
