/* here you can put your own css to customize and override the theme */
#refresh {
	margin-left: 2%;
}

div.dataTables_wrapper div.dataTables_filter input {
	height: 35px;
}

div.dataTables_wrapper div.dataTables_length select {
	height: 35px;
}
