/**
 * checkbox/radiobox style
 */


/* iCheck plugin Square skin, green
----------------------------------- */
.icheckbox_square-green,
.iradio_square-green {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
  background: url(green.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-green {
  background-position: 1px 0;
}
.icheckbox_square-green.hover {
  background-position: -25px 0;
}
.icheckbox_square-green.checked {
  background-position: -51px 0;
}
.icheckbox_square-green.disabled {
  background-position: -72px 0;
  cursor: default;
}
.icheckbox_square-green.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-green {
  background-position: -209px 0;
}
.iradio_square-green.hover {
  background-position: -153px 0;
}
.iradio_square-green.checked {
  background-position: -181px 0;
}
.iradio_square-green.disabled {
  background-position: -192px 0;
  cursor: default;
}
.iradio_square-green.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
// @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
//   .icheckbox_square-green,
//   .iradio_square-green {
//     background-image: url(green@2x.png);
//     -webkit-background-size: 240px 24px;
//     background-size: 240px 24px;
//   }
// }

/* iCheck plugin Square skin, red
----------------------------------- */
.icheckbox_square-red,
.iradio_square-red {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px;
  background: url(red.png) no-repeat;
  border: none;
  cursor: pointer;
}

.icheckbox_square-red {
  background-position: 1px 0;
}
.icheckbox_square-red.hover {
  background-position: -25px 0;
}
.icheckbox_square-red.checked {
  background-position: -51px 0;
}
.icheckbox_square-red.disabled {
  background-position: -72px 0;
  cursor: default;
}
.icheckbox_square-red.checked.disabled {
  background-position: -96px 0;
}

.iradio_square-red {
  background-position: -209px 0;
}
.iradio_square-red.hover {
  background-position: -153px 0;
}
.iradio_square-red.checked {
  background-position: -181px 0;
}
.iradio_square-red.disabled {
  background-position: -192px 0;
  cursor: default;
}
.iradio_square-red.checked.disabled {
  background-position: -216px 0;
}

/* HiDPI support */
// @media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
//   .icheckbox_square-red,
//   .iradio_square-red {
//     background-image: url(red@2x.png);
//     -webkit-background-size: 240px 24px;
//     background-size: 240px 24px;
//   }
// }