<style>
    .inactiveCampaign
    {
        background-color: #dad5e4;
    }
</style>

<template>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-table"></i>Internal Campaign / Coregs</div>
                <div class="tools">
                    <button class="btn btn-xs btn-success" data-toggle="modal" data-target="#createCoregModal"><span class="fa fa-plus"></span> Add Campaign</button>
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable" v-show="pagination">
                    <table id="questions-table" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Sr.#</th>
                            <th>Sticker</th>
                            <th>Name</th>
                            <th>Sample</th>
                            <th>Type</th>
                            <th>Reward</th>
                            <th>Posted</th>
                            <th>NLR id</th>
                            <th>Created from</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody v-for="campaign in pagination.data">
                        <tr v-on:dblclick="selectCampaign(campaign)">
                            <td> {{ pagination.from + $index }} </td>
                            <td> <img :src="campaign.image | formatSticker" alt="campaign.name"> </td>
                            <td> {{ campaign.name }}</td>
                            <td><a :href="'/campaign/map/test/'+campaign.id" target="_blank">click here</a></td>
                            <td> {{ campaign.sponsor | sponsor }} </td>
                            <td> {{ campaign.price }} </td>
                            <td> {{ campaign | assignment }} - {{ campaign.question && campaign.question.status>0? 'Active' : 'Inactive'  }} </td>
                            <td> {{ campaign.published_in }} </td>
                            <td> {{ campaign.date_from_human }} </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-outline btn-circle btn-sm blue" @click="selectCampaign(campaign)"><i class="fa fa-pencil"></i></button>
                                <button type="button" class="btn btn-outline btn-circle red btn-sm blue" @click="removeCampaign(campaign.id)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="campaignLists(pagination.prev_page_url)">Previous</a></li>

                                <li class="page-item {{ pagination.from==(n+1) ? 'disabled':'' }}" v-for="n in pagination.last_page"><a class="page-link" href="javascript:;" @click="campaignLists('/admin/coregs/lists?page='+(n+1))" >{{ n+1 }}</a></li>

                                <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="campaignLists(pagination.next_page_url)">Next</a></li>
                            </ul>
                        </nav>

                        <p>
                            Items from {{ pagination.from }} to {{ pagination.to }} out of {{ pagination.total }} campaigns
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>

<div id="createCoregModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="">Create New Coreg</h4>
            </div>
            <div class="modal-body">
                <create></create>
            </div>
        </div>
    </div>
</div>


<div id="updateCoregModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Update Coreg Information</h4>
            </div>
            <div class="modal-body" v-if="selectedCampaign">
                <update :selected-campaign="selectedCampaign"></update>
            </div>
        </div>
    </div>
</div>


</template>

<script type="text/babel">
    import Create from './coreg/Create.vue';
    import Update from './coreg/Update.vue';

    export default{
        props : [],
        data () {
            return {
                pagination : [],
                selectedCampaign : null,
                url : null,
                searchedCoreg : null
            }
        },
        components : {
            Create,
            Update
        },

        ready : function(){
            this.initialize();

        },

        methods : {

            initialize : function(){
                var self = this;

                $.get('/admin/coregs/lists',function (response) {
                    self.pagination = response.data;
                    stopLoading();
                })
            },

            campaignLists(url){
                var self = this;

                if(url==undefined)
                {
                    url = '/admin/coregs/lists';
                }

                self.url = url;
                self.pagination = [];
                // perform ajax
                $.ajax({
                    url: url,
                    data : { searchedCoreg : self.searchedCoreg },
                    beforeSend: function(){
                        startLoading();
                    },
                    success: function(response) {
                        self.pagination = response.data;
                        stopLoading();
                    },
                    error: function(){
                        stopLoading();
                    }
                });
            },

            selectCampaign(campaign){
                this.selectedCampaign = [];
                this.selectedCampaign = campaign;

                $('#updateCoregModal').modal('show');

            },
            releaseCampaign(){
                this.selectedCampaign = null;
            },

            removeCampaign(id){
                var self = this;
                confirm('/admin/coregs/'+id+'/delete',function (response) {
                    self.pagination = response.data;
                });
            }
        },

        filters : {
            sponsor(sponsor){

                if(sponsor==1)
                {
                    return 'Sponsors';
                }
                return 'Freebies'
            },
            formatSticker(sticker)
            {
                return '/'+sticker;
            },

            assignment(campaign)
            {
                if(campaign.question)
                {
                    return campaign.question.designation.label;
                }
                return 'Unassigned';
            }
        },

        events : {
            refreshCoregsLists(){
                $('#updateCoregModal').modal('hide');
                $('#createCoregModal').modal('hide');
                this.campaignLists(this.url);
            },

            coregSearch : function (search) {
                    this.searchedCoreg = search;
                    this.campaignLists(this.url);
            }
        }
    }
</script>