<style>
    .selected-data
    {
        font-weight: bold;
    }
    .red
    {
        color: red;
    }
    .green
    {
        color: green;
    }

    .hover-count:hover
    {
        border: 1px solid black;
        background: ghostwhite;
        cursor: pointer;
    }

    .hover-count-selected
    {
        border: 1px solid black;
        background: lightgrey;
        cursor: pointer;
    }

    .inactiveCampaign{
        background: floralwhite;
    }
</style>

<template>

    <div>

        <div class="row">
            <div class="col-md-2">
                <label>Sorted by:</label>
                <select @change="changeReport" class="form-control" v-model="sortedBy">
                    <!--<option value="conversion" selected>By Conversion</option>-->
                    <option value="total">By Total</option>
                    <option value="nlr_rejected">By NLR Reject</option>
                    <option value="nlr_success">By NLR Success</option>
                    <option value="adv_rejected">By Advertiser Reject</option>
                    <option value="adv_success">By Advertiser Success</option>
                </select>
            </div>

            <div class="col-md-2">
                <label>Date from:</label>
                <div class="input-group date">
                    <input id="dateFrom" value="" type="text" class="datepicker form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>

            <div class="col-md-2">
                <label>Date to:</label>
                <div class="input-group date">
                    <input  id="dateTo" value="" type="text" class="datepicker form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>

            <div class="col-md-1 col-md-offset-4">
                <label>Failed Jobs</label>
                <a class="btn btn-primary form-control" href="">Open</a>
            </div>

            <div class="col-md-1">
                <label>Server Logs</label>
                <a class="btn btn-primary form-control" href="/admin/logs?l=bGFyYXZlbC5sb2c=" target="_blank">Open</a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <table class="table">
                    <thead>
                    <th width="5%">#</th>
                    <th width="35%">Name</th>
                    <th class="text-center" width="10%">Total Sent</th>
                    <th class="text-center" width="10%">NLR Rejected</th>
                    <th class="text-center" width="10%">NLR Process</th>
                    <th class="text-center" width="10%">ADVERTISER Rejected</th>
                    <th class="text-center" width="10%">ADVERTISER Success</th>
                    <th class="text-center" width="10%">Total Conversions</th>
                    </thead>
                    <tbody>
                        <tr v-if="campaigns.length==0">
                            <td colspan="8" class="text-center"><i class="fa fa-spinner fa-spin" aria-hidden="true"></i> Please wait while we fetch your data</td>
                        </tr>
                        <tr v-else v-for="campaign in campaigns" class="hover-count" :class="{ 'hover-count-selected' : selectedInfo.id==campaign.id, 'inactiveCampaign' : !campaign.active  }" @click="generateInfo(campaign)">
                            <td>{{ $index+1 }}</td>
                            <td>{{ campaign.name }}</td>
                            <td :class="{ 'text-center':true , 'selected-data' : sortedBy=='total'}">{{ campaign.total }}</td>
                            <td :class="{ 'text-center':true , 'selected-data red' : sortedBy=='nlr_rejected'}">{{ campaign.nlr_rejected }}</td>
                            <td :class="{ 'text-center':true , 'selected-data green' : sortedBy=='nlr_success'}">{{ campaign.nlr_success }}</td>
                            <td :class="{ 'text-center':true , 'selected-data red' : sortedBy=='adv_rejected'}">{{ campaign.adv_rejected }}</td>
                            <td :class="{ 'text-center':true , 'selected-data green' : sortedBy=='adv_success'}">{{ campaign.adv_success }}</td>
                            <td :class="{ 'text-center':true , 'selected-data green' : sortedBy=='conversions'}">{{ campaign.conversions}}%</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-5" v-if="selectedInfo">

                <div class="form-group">
                    <h4>Campaign Name: <strong>{{ selectedInfo.name }}</strong></h4>
                </div>
                <div style="overflow: scroll; height: 500px; overflow-x: hidden;">
                    <div class="well" v-for="coreg in selectedInfo.campaign">
                        <textarea class="form-control" rows="5">{{ coreg.nlr_submitted }}</textarea>
                        <hr>
                        <textarea class="form-control" rows="5">{{ coreg.nlr_response }}</textarea>
                        <p>{{ coreg.created_at }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                campaigns: [],
                sortedBy : 'total',
                selectedInfo : [],
            }
        },
        ready(){
            this.jQueryInit();

        },

        methods : {
            jQueryInit(){
                let self = this;

                var nowTemp = new Date();
                var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

                let dateFrom = $('#dateFrom').datepicker({
                }).on('changeDate', function(ev) {
                    dateTo.setValue($('#dateTo').val());
                    dateFrom.hide();

                    self.changeReport();

                }).data('datepicker');

                let dateTo = $('#dateTo').datepicker({
                    onRender: function(date) {
                        return date.valueOf() <= dateFrom.date.valueOf() ? 'disabled' : '';
                    }
                }).on('changeDate', function(ev) {
                    dateTo.hide();

                    self.changeReport();
                }).data('datepicker');

                dateFrom.setValue(moment().subtract(1,'days').format('L'));
                dateTo.setValue(moment().format('L'));

                self.$nextTick(function () {
                    self.initialize();
                });
            },

            initialize()
            {
                this.campaigns = [];
                var self = this;
                $.get('/admin/reports/data',{ sorted_by:this.sortedBy, date_from : $('#dateFrom').val(), date_to : $('#dateTo').val() },function (response) {
                    console.log(response);
                    self.campaigns = response.data;
                    stopLoading();
                });
            },

            generateInfo(campaign)
            {
                this.selectedInfo = campaign;
            },

            changeReport()
            {
                this.initialize();
            }
        }
    }
</script>