<template>

    <div class="tooltipparent">

        <span 
            v-if="freebies" class="hoverMe" rel="tooltip" 
            @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
            @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
        >
            <h5 
                @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
                v-text="title"></h5>
        </span>

        <span 
            v-else class="hoverMe" rel="tooltip">
            <h5 
                @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
            >
                {{ title }} <span v-if="title=='From Our Sponsors'" class="label"></span>
            </h5>
            <small v-if="title=='From Our Sponsors'" style="color: #414042">UP TO</small>
            <span
                @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
                @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
                class="money" :class="{ 'glow-text' : glowtext }"><i v-show="glowtext" class="fa fa-level-up" aria-hidden="true"></i>{{ condition | currency }}</span>
        </span>

        <div class="bubble" v-show="tooltip">
            <strong>Current Earnings</strong>
            <table class="table text-left">
                <tbody>
                    <tr>
                        <td><strong>Accumulated</strong></td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td><strong>Paid:</strong></td>
                        <td>$0.00</td>
                    </tr>
                    <tr>
                        <td><strong>Posted:</strong></td>
                        <td>$0.00</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>
<script>
    export default{
        props : ['title', 'freebies','condition'],
        data(){
            return{
                tooltip : false,
                glowtext: false
            }
        },
        methods : {

            // mouseOver(e){
            //     var $this =  $(e.target);
            //     var $parent = $this.parents('.tooltipparent').find('.bubble').removeClass('hide');
            // },

            // mouseleave(e){
            //     $('.bubble').addClass('hide');
            // }
        },

        watch :
        {
            condition()
            {
                if(this.condition>0)
                {
                    let self = this;
                    self.glowtext = true;
                    setTimeout(function()
                    {
                        self.glowtext = false;
                    },5000);
                    this.$dispatch('glowChange','hpcs');
                }
            }
        }
    }
</script>
