<template>

    <span class="tooltipparent"
              @mouseover="tooltip=true" v-on:touchstart="tooltip=true"
              @mouseleave="tooltip=false" v-on:touchend="tooltip=false"
          >

        <div :class="myClass()">
          <div class="la-ball-fall la-white la-sm small-ball" v-show="loading && n==active-1">
              <div></div>
              <div></div>
              <div></div>
          </div>
        <span>$1</span>
        </div>
        <div class="bubble" v-show="tooltip">
            <strong>Your challenge for today is active!</strong><p style="font-weight: 100">Click the active ball above and take your challenge now!</p>
        </div>
    </span>
</template>
<script>
    export default{
        props : ['tooltipClass'],
        data(){
            return{
                tooltip : false
            }
        },

        methods : {
            myClass()
            {
                console.log(this.tooltipClass);
                return this.tooltipClass;
            }
        }

    }
</script>
