<template>
        <form id="form-create">
            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <h4>Offer Name</h4>
                            <input type="text" class="form-control" name="name" />
                        </div>

                        <div class="col-md-12 form-group">
                            <h4>Description</h4>
                            <textarea class="form-control" name="description" id="" rows="6" style="resize: vertical"></textarea>
                        </div>

                        <div class="col-md-12 form-group">
                            <h4>Categories</h4>
                            <input type="checkbox" name="has_cash" value="1"> <label>Cash</label> <br>
                            <input type="checkbox" name="has_points" value="1"> <label>Points</label> <br>
                            <input type="checkbox" name="has_sweeptakes" value="1"> <label>Sweepstakes</label> <br>
                            <input type="checkbox" name="has_coupons" value="1"> <label>Coupons</label> <br>
                            <input type="checkbox" name="has_freebie" value="1"> <label>Freebies</label>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <h4>Cake Id</h4>
                            <input type="number" name="cake_id" class="form-control" placeholder="Optional">
                        </div>

                        <div class="col-md-6 form-group">
                            <h4>Advertiser Max Offer</h4>
                            <input type="number" name="up_to" class="form-control" placeholder="Advertiser Max Offer">
                        </div>

                        <div class="col-md-12 form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Creative Id</h4>
                                    <input type="number" name="id" class="form-control">
                                </div>

                                <div class="col-md-6">
                                    <h4>Apply paid for click?</h4>
                                    <select name="click_paid" class="form-control">
                                        <option value="0" selected>No</option>
                                        <option value="1">Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">

                            <div class="row">

                                <div class="col-md-6">
                                    <h4>Incentive Type</h4>
                                    <select class="form-control" name="is_hpcs">
                                        <option value="0">Normal</option>
                                        <option value="1">EIQ</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <h4>HPCS Bonus</h4>
                                    <input name="hpcs_cash" type="text" value="0.00" class="form-control">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>Campaign Type</h4>
                                    <select class="form-control" name="is_type">
                                        <option value="Offers" selected> Offers </option>
                                        <option value="Freebies"> Freebies  </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <h4>Reward</h4>
                                    <input name="cash" type="text" value="0.00" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 form-group">

                            <div class="row">
                                <div class="col-md-6">
                                    <h4>General Linkout</h4>
                                    <select name="general" class="form-control">
                                        <option value="0">No</option>
                                        <option value="1" selected>Yes</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <h4>Active Status</h4>
                                    <select name="active" class="form-control">
                                        <option value="0">No</option>
                                        <option value="1" selected>Yes</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row form-group">
                <input type="hidden" name="_token" v-model="token">
                <hr />
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" @click="saveOffer" class="btn btn-primary" :disabled="loading"><span v-if="loading"><i class="fa fa-spinner fa-spin"></i></span><span v-else>Insert Campaign</span></button>
                </div>
            </div>


        </form>
</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                token : $('[name="_token"]').attr('content'),
                loading : false
            }
        },

        ready : function(){
        },

        methods : {
            saveOffer : function () {

                var self = this;
                var data = $('#form-create').serializeArray();
                self.loading = true;

                $.ajax({
                    url:'/admin/offers/store',
                    method:'POST',
                    data: data
                }).success(function(response) {
                    notify("Success!", "Offer has been inserted", "success");
                    self.loading = false;
                    self.$dispatch ('refreshCoregList');
                }).fail(function(e) {
                    notify(e.statusText || ($.parseJSON(e.responseText)).message, "", "error", 'overlay');
                    self.loading = false;
                });
            }
        }
    }
</script>