<template>
    <div class="well animated"
         v-show="show"
         transition="fade">
    <validator name="contact">
        <form class="form-horizontal" role="form" id="contact-form" action="/contact" method="POST">

            <div class="well-action text-right">
                <a @click.prevent="$emit('close-modal')"><i class="fa fa-times-circle-o closer" aria-hidden="true"></i></a>
            </div>
            <h1 class="blue-font text-center title">Contact Us</h1>
            <div class="spacer-mini"></div>

            <div class="form-group"
                 :class="{
                            'has-error': ($contact.email.email || $contact.email.required) && $contact.email.dirty,
                            'has-success': emailFlag
                        }"
            >
                <label class="control-label col-sm-3" for="email">Email Address</label>
                <div class="col-sm-9">
                    <input type="email"
                           class="form-control"
                           name="email"
                           v-validate:email="{required:true,email:true}"
                           placeholder="Enter Email">
                </div>
            </div>
            <div class="spacer-mini"></div>
            <div class="form-group"
                 :class="{
                            'has-error': $contact.topic.dirty && $contact.topic.required,
                            'has-success': zipFlag
                        }"
            >
                <label class="control-label col-sm-3" for="topic">Topic</label>
                <div class="col-sm-9">
                    <input type="text"
                           class="form-control"
                           name="topic"
                           v-validate:topic="{required:true}"
                           placeholder="Enter Topic">
                </div>
            </div>
            <div class="spacer-mini"></div>
            <div class="form-group"
                 :class="{
                            'has-error': $contact.content.dirty && $contact.content.required,
                            'has-success': zipFlag
                        }"
            >
                <label class="control-label col-sm-3" for="content">Content</label>
                <div class="col-sm-9">
                    <textarea name="content"
                              class="form-control vresize"
                              v-validate:content="{required:true}"
                              rows="3"
                              placeholder="What's up?"
                    ></textarea>
                </div>
            </div>

            <div class="spacer-mini"></div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <div class="g-recaptcha"  data-sitekey="6Lf_OCcTAAAAAJPtEfTVgh7KG32eBuRYN6LZs2qK"></div>
                            <p class="captcha-error" v-show="captchaAlert">Sorry, please try this.</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <button type="button"
                            class="pull-right btn btn-primary submit "
                            :class="{'submitting' : loading}"
                            @click="sendContact"
                            :disabled="loading || ! $contact.valid"
                    >
                        <span v-show="! loading">SUBMIT</span>
                        <div class="la-ball-fall-2" v-show="loading">
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </button>
                </div>

            </div>

            <div class="spacer-mini"></div>
            <address>
                <strong>Mailing Address:</strong> <br>
                3080 Olcott Street 140 C,
                Santa Clara,
                California,
                95054
            </address>
        </form>
    </validator>
    </div>
</template>
<script>
    import Active from '../mixins/Active.vue';
    export default{
        mixins: [Active],
        data () {
            return {
                loading: false,
                choice: 1,
                captchaAlert: false,
                windowName: 'contact'
            }
        },
        methods : {
            sendContact () {
                let $form = $('#contact-form');
                this.loading = true;
                $.post($form.attr('action'),$form.serialize())
                        .success(({success}) => {
                            if(!success)
                            {
                                this.captchaAlert = true;
                                return false;
                            }
                            $form[0].reset();
                            this.captchaAlert = false;
                            swal('Thank you.','Your feedback is important!','success');
                        })
                        .fail(() => {console.log("bad request."); this.loading = false; grecaptcha.reset();})
                      .done(() => {grecaptcha.reset(); this.$resetValidation(); this.loading = false; setTimeout(() => {this.captchaAlert = false;},10000)});

            }
        }
    }
</script>
<style>
    .captcha-error {
        font-size: 80%;
        color:red;
    }
</style>

