<template>
        <div class="table-scrollable" v-show="pagination">
            <table class="table table-bordered table-hover">
                <thead>
                <th width="5%">Sr.#</th>
                <th width="20%">Email</th>
                <th width="10%">Money</th>
                <th width="10%">Payment Request</th>
                <th width="10%">Request Date</th>
                <th width="15%">Created</th>
                <th width="5%" title="Leads has been failed">SLF</th>
                <th width="15%">Actions</th>
                </thead>
                <tbody v-for="user in pagination.data">
                <tr>
                    <td>{{ pagination.from + $index }} </td>
                    <td>{{ user.EMAIL }}</td>
                    <td>{{ user.money_hpcs }}</td>
                    <td>No</td>
                    <td>N/A</td>
                    <td>{{ user.date_from_human }}</td>
                    <td>N/A</button>
                    </td>
                    <td class="text-center">
                        <button type="button" class="btn btn-outline btn-circle btn-sm green" @click="viewModal(user)" title="View User"><i class="fa fa-eye"></i></button>
                        <button type="button" class="btn btn-outline btn-circle red btn-sm blue"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-md-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {{ !pagination.prev_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="userLists(pagination.prev_page_url)">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="javascript:;">Page {{ pagination.current_page}}</a></li>
                        <li class=" page-item {{ !pagination.next_page_url ? 'disabled':'' }}"><a class="page-link" href="javascript:;" @click="userLists(pagination.next_page_url)">Next</a></li>
                    </ul>
                </nav>

                <p>
                    Items from {{ pagination.from }} to {{ pagination.to }} out of {{ pagination.total }} users
                </p>
            </div>
        </div>

    <div id="addUser" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title"><i class="fa fa-plus"></i> Add User</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Money</label>
                            <input type="number" class="form-control" id="money">
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="viewUser" class="modal fade" role="dialog" v-if="selectedUser">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-eye"></i> View User</h4>
                </div>
                <div class="modal-body" v-if="selectedUser">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#userProfile">User Profile</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- user profile -->
                        <div id="userProfile" class="tab-pane fade in active">
                            <table class="table table-hover table-bordered">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ selectedUser.FIRST_NAME }} {{ selectedUser.LAST_NAME }}</td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{ selectedUser.GENDER }}</td>
                                </tr>
                                <tr>
                                    <td>Address</td>
                                    <td> {{ selectedUser.ADDRESS_1 }} </td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{ selectedUser.CITY }}</td>
                                </tr>
                                <tr>
                                    <td>State</td>
                                    <td>{{ selectedUser.STATE }}</td>
                                </tr>
                                <tr>
                                    <td>Zipcode</td>
                                    <td>{{ selectedUser.ZIP }}</td>
                                </tr>
                                <tr>
                                    <td>Email Address</td>
                                    <td>{{ selectedUser.EMAIL }}</td>
                                </tr>
                                <tr>
                                    <td>User ID</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>Paypal Email</td>
                                    <td>N/A</td>
                                </tr>
                                <tr>
                                    <td>Date Created</td>
                                    <td>{{ selectedUser.CREATE_DATE }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div style="margin-bottom: 10px"></div>
                            <div class="text-right">
                                <a class="btn btn-primary btn-editUser" style="background: green">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body" v-else>
                    <label for="">Loading data <i class="fa fa-spinner fa-spin"></i></label>
                </div>
                <!-- <div class="modal-footer">
                  <a href="" class="btn btn-primary" style="background: green">PAY USER</a>
                </div> -->
            </div>

        </div>
    </div>
    <!-- Edit user -->
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover table-bordered">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>
                                <input type="text" class="form-control" placeholder="Francis Magallen">
                            </td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>
                                <select class="form-control">
                                    <option value="">Select</option>
                                    <option value="">M</option>
                                    <option value="">F</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>
                                <textarea class="form-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>City</td>
                            <td>
                                <input type="text" class="form-control" placeholder="NY">
                            </td>
                        </tr>
                        <tr>
                            <td>State</td>
                            <td><input type="text" class="form-control" placeholder=""></td>
                        </tr>
                        <tr>
                            <td>Zipcode</td>
                            <td>
                                <input type="text" class="form-control" placeholder="12345">
                            </td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>
                                <input type="text" class="form-control" placeholder="awesome@email.com">
                            </td>
                        </tr>
                        <tr>
                            <td>User ID</td>
                            <td>
                                <input type="text" class="form-control" placeholder="123">
                            </td>
                        </tr>
                        <tr>
                            <td>Paypal Email</td>
                            <td>
                                <input type="text" class="form-control" placeholder="awesome@email.com">
                            </td>
                        </tr>
                        <tr>
                            <td>Date Created</td>
                            <td>
                                <input type="text" class="form-control" placeholder="2013-12-05 21:52:34">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/babel">
    export default{
        props : [],
        data () {
            return {
                pagination : [],
                selectedUser : null,
                searchedUser : null,
                url : null
            }
        },
        ready : function(){
            this.userLists();
            $('.btn-editUser').on('click', function(){
                $('#viewUser').modal('hide');
                $('#editUser').modal('show');
            });
        },

        methods : {
            userLists(url){
                var self = this;

                if(url==undefined)
                {
                    url = '/admin/user/lists/pfr';
                }

                self.url = url;
                self.pagination = [];
                // perform ajax
                $.ajax({
                    url: url,
                    data : { searchedUser : self.searchedUser },
                    beforeSend: function(){
                        startLoading();
                    },
                    success: function(response) {
                        self.pagination = response.users;
                        stopLoading();
                    },
                    error: function(){
                        stopLoading();
                    }
                });
            },

            viewModal(user)
            {
                $('#viewUser').modal('show');
                this.selectedUser=null;
                this.selectedUser=user;
            },

            resendLead(id,e)
            {
                var $this = $(e.target);

                $this.find('i').addClass('fa-spin');
                $this.prop('disabled',true);

                var data = { id:id ,_token: $('[name="_token"]').attr('content') };

                $.post('/admin/resend/leads', data , function (response) {
                    $this.addClass('hidden');
                });
            }
        },

        filters :
        {
            leadStatus(val)
            {
                if(val == 0) {
                    return '/images/clock.jpg';
                }
                if(val == 1) {
                    return '/images/submitted.jpg';
                }
                if(val == 2) {
                    return '/images/disapproved.jpg'
                }
                if(val == 3) {
                    return '/images/approved.jpg';
                }
                if(val == 4) {
                    return '/images/earned.jpg';
                }

                return 'Unassigned';
            }
        },

        events : {
            userSearchPfr : function (search) {
                this.searchedUser = search;

                if(this.searchedUser=="")
                {
                    this.userLists(this.url);
                }
                else
                {
                    this.userLists('/admin/user/lists/pfr');
                }
            }
        }
    }
</script>